[2013-04-10 11:43] stefanthaler opened #48 "The feedback module allows "empty" messages"
The FeedbackModule in Line 202 only checks whether the entered text is an empty string. So basically I could enter send "      " as Feedback. Maybe you could use
text.replace( " ", "" ).equals("")  instead and introduce a minimum Feedback length parameter.

[2013-04-10 21:49] #48 closed, assigned to skykelsey

[2013-09-25 18:29] schilakamarri opened #55 "How do we use new Message Center for different usernames?"
My problem is:
1. send a feedback via message Center using user1@email.com
2. logout user1@email.com and login user2@email.com (different user logs in)
3. When I send a feedback via Message Center, I still see user1@email.com's messages.

How do I avoid this and tell Message Center that a diff user logged in?

[2013-10-01 19:54] schilakamarri opened #56 "ratings module not showing up"
I debugged and narrowed it down to this line in RatingModule.java:

boolean canShow = canShowRatingFlow(prefs);

The canShow is always False even when conditions are met. Can you please look into it?

[2013-10-02 17:34] #56 closed, assigned to nobody

[2013-10-08 18:09] abakerSavings opened #58 "Database Lock in ApptentiveDatabase.deletePayload"
Stack trace:
android.database.sqlite.SQLiteException: database is locked
at android.database.sqlite.SQLiteDatabase.dbopen(Native Method)
at android.database.sqlite.SQLiteDatabase.<init>(SQLiteDatabase.java:2005)
at android.database.sqlite.SQLiteDatabase.openDatabase(SQLiteDatabase.java:905)
at android.database.sqlite.SQLiteDatabase.openOrCreateDatabase(SQLiteDatabase.java:995)
at android.database.

[2013-10-18 00:35] #58 closed, assigned to nobody

[2013-10-21 19:41] abakerSavings opened #59 "NullPointerException in ApptentiveDatabase.addPayload in release 1.2.0"
I am no longer getting the database locked error but I did get this one now.  Since you said you were having problems reproducing the error causing the locking maybe this log from Crashlytics will help.

http://crashes.to/s/1ffc16a50c4

[2013-10-21 22:41] #59 closed, assigned to nobody

[2013-10-31 01:54] bishopmatthew opened #61 "Database lock in getOldestUnsentPayload"
I'm seeing this crash in the logs for my app (so far there are about 60 crashes per week from this).

Is there a reason you don't catch the exception here?

https://github.com/apptentive/apptentive-android/blob/master/apptentive-android-sdk/src/com/apptentive/android/sdk/storage/ApptentiveDatabase.java#L206

Because I feel that a library like this shouldn't really be letting internal exceptions be

[2013-11-13 09:03] #61 closed, assigned to nobody

[2013-11-28 08:43] avaranovich opened #63 "Using project with android studio"
I understand this is officially not supported.
However, I build a project with ant, then add jar as a dependency to my Gradle build.

When I invoke a message centre from my app, I get this exception

[code]

Do I miss anything?

[2013-11-29 21:28] #63 closed, assigned to nobody

[2014-02-13 15:49] stefanrusek opened #67 "Add maven/gradle support"
Please publish your aar file to maven, so that we don't have to add the library source code to our projects.

Here is a link to get you started. http://www.vandalsoftware.com/post/52468430435/publishing-an-android-library-aar-to-a-maven

[2014-03-05 18:05] justinelsberry opened #69 "Lint Error for ResourceCycle"
Because Android allows for inheritance of styles without specifying the parent attribute, specifying the parent of ApptentiveHeader as ApptentiveHeader.Plain, etc. creates a resource cycle that Lint doesn't like.

Error: Style Resource definition cycle: ApptentiveHeader => ApptentiveHeader.Plain => ApptentiveHeader [ResourceCycle]
Error: Style Resource definition cycle: ApptentiveHeaderText => App

[2014-03-14 18:16] gabema opened #71 "Message read status does not seem to be working"
I've integrated apptentive using the steps provided in the Readme. Specifically I am hooking into my activity lifecycle using delegation. I'm never receiving events of new unread messages via the setUnreadMessagesListener on the client. Also, I noticed that viewing the messages via the website that all of the users messages are marked as unread even though I've viewed them in the message center.

[2014-03-24 17:31] amjedab opened #75 "On orientation change rating dialog disappears"
Once the app met the significant event conditions it shows the rating dialog but on orientation change in the same view it disappears.

Could you please handle the orientation changes, Or expose a method to show the corresponding dialog.

[2014-04-01 20:59] #75 closed, assigned to nobody

[2014-04-08 07:56] davidpribil opened #77 "NPE at ViewActivity onCreate"
Hello,

I'm using the Apptentive android sdk. Current checkout is: origin/compress_images (28th Febr.)
In the last commit I added the Apptentive rating dialog to my Main activity

[code]

I'm also using the message centre (it was added long ago and there were no exceptions before)

And I got the following error stacktrace from a user:

[code]

The user is on Android 2.3.4 (no device details)

[2014-04-08 22:05] gabema opened #78 "Latest version shows multiple rate dialogs"
After upgrading and enabling customized Ratings Prompt text I'm seeing two consecutive rating dialogs.

[2014-04-08 22:57] #71 closed, assigned to nobody

[2014-04-18 22:12] #77 closed, assigned to nobody

[2014-04-18 22:13] #78 closed, assigned to nobody

[2014-04-24 23:02] RickGriswold opened #80 "showMessageCenter(Activity) gives message with 'null' instead of app name"
Greetings!
Love your work.
I do have a problem though.

When my users click on a button I call the showMessageCenter(MyActivity.this);, and if it's their first time clicking it a dialog pops up and says "Thanks for your feedback! Please let us know how to make null better for you!"

Once they enter some text and Send, they go straight to the messaging activity upon consecutive button presses, but

[2014-04-29 15:02] #55 closed, assigned to nobody

[2014-04-29 23:46] #80 closed, assigned to nobody

[2014-05-22 04:26] gkee42 opened #82 "Apptentive crashes if there's nothing entered in a feedback box."
This is a bug in Apptentive for Android v1.4.2.

To reproduce it:

[code]

This is the crash log:

05-20 09:14:21.495: E/AndroidRuntime(9692): FATAL EXCEPTION: main
05-20 09:14:21.495: E/AndroidRuntime(9692): java.lang.NullPointerException
05-20 09:14:21.495: E/AndroidRuntime(9692):     at com.apptentive.android.sdk.module.engagement.interaction.view.FeedbackDialogInteractionView.sendMessage(Feedb

[2014-05-22 04:30] gkee42 opened #83 "Apptentive dialog disappears on screen rotation"
When the user has the rating dialog open, if they rotate the device, the dialog disappears.

Seems to be device specific (can only reproduce on some phones).
Tested On : Samsung Galaxy Grand 2 (Android v4.3)
Using Apptentive for Android v1.4.2

[2014-05-22 07:24] #82 closed, assigned to nobody

[2014-06-11 16:05] solcott opened #84 "Only Enable NetworkStateReceiver When Needed"
Requiring apps that use your SDK to have a BroadcastReceiver that listens to connectivity changes is a bad idea.  See http://developer.android.com/training/monitoring-device-state/connectivity-monitoring.html.  Connectivity changes happen extremely frequently.  If you really need this then only have it enabled when it is needed and then disable it when you don't need it anymore.  See http://develo

[2014-06-30 16:24] zendorx opened #86 "ClassNotFoundException NetworkStateReceiver"
This crash appears on google play very often

Devices: Galaxy Exhibit, Galaxy S3 (m0), Galaxy Note 10.1 (p4noterf), nuclear-n01, nuclear-inet.
Android 4.+

java.lang.RuntimeException: Unable to instantiate receiver com.apptentive.android.sdk.comm.NetworkStateReceiver: java.lang.ClassNotFoundException: com.apptentive.android.sdk.comm.NetworkStateReceiver
at android.app.ActivityThread.handleReceiver

[2014-07-17 20:50] mjerdely opened #87 "Allow setting the user's name"
Allow setting the user's name so that customer service can see it like is done on iOS.

[2014-07-17 20:56] mjerdely opened #88 "Allow hiding the email field from the end user if we already know it"
Please create an option is hide the email field (like on the iOS library) if we already know what it is.

Currently the code will only pre-populate the field but will continue to show it unless the user enters this themselves.

Below is the snippet from the library that controls this logic:

[code]

[2014-07-18 07:37] #69 closed, assigned to nobody

[2014-10-09 08:46] #87 closed, assigned to nobody

[2014-10-16 18:52] #86 closed, assigned to nobody

[2014-12-18 07:54] spectrumColors opened #93 "Getting error Style Resource definition cycle"
Getting this error at time of making Sing APK

Error: Style Resource definition cycle: ApptentiveHeader => ApptentiveHeader.Plain => ApptentiveHeader [ResourceCycle]
Error: Style Resource definition cycle: ApptentiveHeaderText => ApptentiveHeaderText.Plain => ApptentiveHeaderText.Default => ApptentiveHeaderText [ResourceCycle]
Error: Style Resource definition cycle: ApptentiveMainArea => Apptentiv

[2015-01-12 11:40] Den-Rimus opened #94 "Add ability to turn off Apptentive logs programmatically"
And, please - don't tell me to set up my LogCat filter in IDE - sometimes this can be inconvenient.

[2015-01-12 11:42] Den-Rimus opened #95 "Wrong project mentioned in CONTRIBUTING.md"
"We love contributions!

Any contributions to the master apptentive-ios project must sign..."

should be

"We love contributions!

Any contributions to the master apptentive-android project must sign..."

[2015-01-12 22:27] skykelsey commented on #95
Thanks for he heads up!

[2015-01-12 22:29] skykelsey commented on #95
Fixed in master.

[2015-01-12 22:29] #95 closed

[2015-01-13 09:40] skykelsey commented on #94
Hi Den,

We actually recently added this ability. Instructions are [here](http://www.apptentive.com/docs/android/integration/#logging).

[2015-01-13 09:40] #94 closed

[2015-01-13 10:21] Den-Rimus commented on #94
Huge thanks! Sorry for bother

[2015-01-21 19:37] skykelsey commented on #93
Hello,

The styles causing your problem no longer exist. Please use the most current release of the SDK, and let me know if you have any further problems with styles.

[2015-01-21 19:37] #93 closed

[2015-01-21 19:38] skykelsey commented on #67
Gradle/Maven support complete starting with version 1.6.2.

[2015-01-21 19:38] #67 closed

[2015-01-21 21:45] #84 closed

[2015-05-02 00:46] elincoln opened #102 "Breaking change from 1.7.1 to 1.7.2"
Removing 'setParsePushCallback' here: https://github.com/apptentive/apptentive-android/commit/53b9bcbac721364dfc3dfaf548159d60ba3a4b9a#diff-47fd56d091a21a2279dd0df9e88b3e41L471
...is a breaking change.  Why not use `@Deprecated` until a major point release?

[2015-05-04 05:19] skykelsey commented on #102
Hello Elincoln,

I'm very sorry that this is causing you problems. The problem is that the new Parse SDKs do not work properly anymore, and we felt it would be better to make this change now, since the changes necessary to get this working in the latest version are pretty simple. That said, the 1.7.1 version of our SDK contains the exact same bug fixes and features as 1.7.2 minus the push notifica

[2015-05-04 05:19] #102 closed

[2015-05-04 16:57] elincoln commented on #102
Which Parse SDKs did it 1.7.1 work against, 1.8.x?
Is 1.7.2 for the 1.9.x Parse SDKs?

[2015-05-05 17:22] skykelsey commented on #102
Yes, Parse 1.8.3, sorry for the confusion.

[2015-08-27 16:02] mrhether opened #103 "Apptentive is using apache, which does not exist on android M"
This means builds can not be made that target M and include apptentive. It also has some security concerns.

[2015-08-28 23:09] skykelsey commented on #103
Thanks Mark. We are in the process of getting Android M support baked into the next release of our SDK. We will be migrating away from HttpClient in the next few weeks, and will update you then.

[2015-09-14 18:14] solcott opened #105 "Can't Use Apptentive with Design Support Library"
When I try to use Apptentive 2.0.0 with the Android Design Support Library I get the following error message when I try to build my project.

Error:(2) Attribute "borderWidth" has already been defined

[2015-09-14 21:24] skykelsey commented on #103
Hello Mark, we have released version 2.0.0, which removes use of `HttpClient` from our SDK.

[2015-09-14 21:24] #103 closed

[2015-09-14 21:26] skykelsey commented on #88
Hello Michael,

We have released a new version of our SDK (2.0.0) that simplifies Message Center and removes the Feedback Dialog. Please let me know what you think.

[2015-09-14 21:26] #88 closed

[2015-09-14 23:57] skykelsey commented on #105
Hi Scott, thanks for reporting this. We are looking into fixing this, and I will keep you posted.

[2015-09-17 00:45] skykelsey commented on #105
Hello Scott, we've released version 2.0.1 to properly namespace our custom attributes. This should avoid any future conflicts with other libraries. Please let me know if you have any more problems.

[2015-09-17 00:45] #105 closed

[2015-09-17 14:58] mrhether opened #106 "@style/ApptentiveTheme.Light does not exist"
But `@style/ApptentiveTheme` does.

The integration guide mentions `@style/ApptentiveTheme.Light`.

[2015-09-17 21:49] asmenter15 opened #107 "Apptentive Internet Connection Issue?"
Upgraded to Android sdk v2.0.1 today. For some reason when I get to the Message Center I am getting the message "Please connect to the internet to send feedback", even though I clearly have internet access. I am using..

compileSdkVersion 23
buildToolsVersion '23.0.1'
minSdkVersion 16
targetSdkVersion 23

[2015-09-18 18:52] skykelsey commented on #106
Hello Mark,
You are right, the correct theme to use is `@style/ApptentiveTheme` if you want a light theme, or `@style/ApptentiveTheme.Dark` if you want to use a dark theme. I will update the documentation.

[2015-09-18 18:52] #106 closed

[2015-09-18 19:01] skykelsey commented on #107
Thanks Aaron,
This was a temporary issue affecting our server, and has been resolved.
Sky

[2015-09-18 19:01] #107 closed

[2015-09-19 03:07] mrhether commented on #106
Cool just an fyi :)

[2015-09-25 14:29] sguillen opened #108 "Transparent survey header on some devices"
The title of the survey has a transparent background on some devices, this happens on surveys that have many questions. The example had 16 questions.

**This is how the survey should look on all devices**
<img width="479" alt="screen shot 2015-09-25 at 14 35 52" src="https://cloud.githubusercontent.com/assets/6573208/10100736/0edd8e88-6394-11e5-8d82-e2561ad1685a.png">
<img width="483" alt="screen

[2015-09-25 18:43] barry-li commented on #108
Hi, Thank you for reporting this issue. To help us troubleshoot, may we know the api level of the problematic devices? Also if the survey questions are short, i.e. fit into one screen, do you see the same issue on those devices?

Barry

[2015-09-28 10:11] sguillen commented on #108
This happens only with surveys that have many questions, it displays correctly when having fewer questions.

I have only managed to replicate on few devices:
* Samsung Galaxy S3 GT-I9300 -  API 16
* Samsung Galaxy S2 -  API 16
* HTC Incredible S - API 15

[2015-10-11 12:26] kavins opened #109 "Few crashes causing issues lately"
Hi, I have been using Apptentive SDK from long time in my app. Lately I am facing two crashes with v2.0.1. And its affecting quiet a good number of users. I am pasting the error log of both the crashes below. Any help would be appreciated.

Issue 1 :

java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.SharedPreferences android.app.Activity.getSharedPreferences(java.l

[2015-10-11 18:48] barry-li commented on #109
Hi Kavin,

Thank you for reporting this issue. The initial investigation indicates both of these crashes were caused in abnormal Activity lifecycle, resulting in our Message Center onCreate() not being called to initiate.  We haven't seen such abnormality being reported, so it will be very helpful if you could assist us pinpoint the exact scenario.

1. If those crashes are reported from Google Pla

[2015-10-11 19:46] barry-li commented on #109
Hi Kavin,

One more piece of information that will be very valuable to share with us is the log of the crashing app.

thanks

[2015-10-11 20:28] kavins commented on #109
Hi Barry,

Would be happy to help you out with the necessary information. They are as follows :

1) Actually we have integrated Crashlytics SDK to monitor/capture the crashes in our app. Got to know from it. Also the crashes doesn't seem to be device or OS specific. They have occured in multiple devices running Android OS 4.x. 5.x & 6.x

2) We are using Apptentive in our application just for ratin

[2015-10-11 21:14] barry-li commented on #109
Hi Kelvin,

Thanks for the quick response. Information you provide is very helpful, especially you mentioned rating prompt has been the only Apptentive feature you enable. May I confirm with you that you never use Apptentive Message Center feature even with the prior Apptentive SDK? Have you ever seen Message Center being launched after upgrading to 2.0.1?  Because all crashes point to launching M

[2015-10-12 05:10] kavins commented on #109
Hi Barry,

If you could share your Email Id, will send you the email used to register Apptentive console along with few screenshots which might help you further. Or else should I mail it to support@apptentive.com? Or do you want me to share it here itself?

[2015-10-12 05:17] barry-li commented on #109
Hi Kavin,

I can find your registration from our support team. Could you confirm that your customer are able to see Message Center, a.k.a FeedBack if they click "No" on rating prompt?  Both before the upgrade and After?  Because from the crash trace, it doesn't look like the Message Center/Feedback activity was properly created.

Thanks

[2015-10-12 05:22] kavins commented on #109
Hi Barry,

Nope. When they click "No", the screen blacks out and freezes for sometime before crashing. When I tracked back, I did find the issue have happened even before the SDK update but was very minimal so I didn't get notified about it.

Thanks

[2015-10-12 05:27] barry-li commented on #109
A few more things to check with you:
1. Are you using Android Studio with Gradle set up to get Android Support libraries? Make sure you have the following included:
compile 'com.android.support:support-v4:23.0.1'
compile 'com.android.support:appcompat-v7:23.0.1'
compile 'com.android.support:cardview-v7:23.0.1'

2. If you enable proguard, make sure to follow our suggested configuration:
https://www

[2015-10-12 05:34] kavins commented on #109
Yeah I am using Android Studio with Gradle set up to get Android Support libraries. I have included appcompat but support and cardview are not included. Also haven't enabled proguard for now. So, you want me to configure other two libraries(support & cardview) too?

Also one more query, is there a way to disable rating prompt from the Apptentive console for particular version of app? If so will do

[2015-10-12 05:41] barry-li commented on #109
Yes, you definitely need the other two support libraries. And yes, you may only target the rating prompt to specific app version. Click "Rating Prompt - SDK V2.0" Left Panel, then click on the Targeting tab, and Who section, add a rule. Choose Versioning: application version, "is", "your app version number".

Note, the "your app version number" is PackageInfor::versionName

[2015-10-12 05:45] kavins commented on #109
Yeah sure will add those libraries. Just want to confirm with you, will adding those libraries resolve those crashes? Were those missing libraries were the root cause for the problem?

Thanks for your time in advance.

[2015-10-12 05:51] barry-li commented on #109
Without those support libraries, the New Message Center/Feedback activity will not be created properly for sure. I strongly suggest you to include them first, and test again.  Even though I can't 100% sure the crashes will be gone, especially you had crashes before the upgrade, but the latest crash traces have strong indications that Message Center/Feedback were not created properly.

Please keep

[2015-10-12 06:03] kavins commented on #109
Yeah I have added them. Will test it out and let you know irrespective of whether those issues got resolved or not. Seems the Apptentive API documentation is updated recently when the latest version got released, where it says to include all the above three libraries. But I didn't get a chance to visit the updated documentation to include those changes in my app. Anyways once again thanks for your

[2015-10-12 09:22] kavins commented on #109
Hi Barry,

I created a test app(after adding those two libraries in gradle) in Apptentive console and used the API key of that app to debug the issues. And again the app crashed when I pressed "No" in rating prompt. But this time it seems to be a different issue. I am pasting the complete logcat for your reference :

10-12 14:39:47.905    5142-5142 E/Apptentive﹕ android.view.InflateException: Bina

[2015-10-12 16:47] barry-li commented on #109
do you have the following line included in your AndroidManifest.xml:?
<activity android:name="com.apptentive.android.sdk.ViewActivity"
                android:theme="@style/ApptentiveTheme"/>

The error may indicate the Apptentive feedback activity is missing the theme that specifies the required style, i.e. Line 15 of the layout file. Make sure "com.apptentive.android.sdk.ViewActivity" is either

[2015-10-12 17:22] kavins commented on #109
I have included "android:theme="@style/ApptentiveTheme.Transparent" in the manifest since I already used transparent theme for Apptentive in previous versions and I wanted the same in this version too.

[2015-10-12 17:49] barry-li commented on #109
I see the problem. @style/ApptentiveTheme.Transparent is an internal Apptentive theme specifically used for dialogs and popups that don't have title bar. It does not have all required attributes defined. Please use @style/ApptentiveTheme in your manifest. Internally, we still use ApptentiveTheme.Transparent where they were used in the previous version, so you don't need to worry about backwards co

[2015-10-13 05:32] kavins commented on #109
Hi Barry,

Yeah it works now. Thanks for your constant support since past two days to help me resolve those issues :)

[2015-10-27 17:07] #109 closed

[2015-10-29 19:44] j-mateo commented on #107
I'm having the same issue:

compileSdkVersion 22
buildToolsVersion 22.0.1
minSdkVersion 14
targetSdkVersion 22

Apptentive sdk v2.0.1

(upgrading to buildtools 23.0.1 isn't an option at the moment)

Any ideas?

[2015-11-02 22:03] fmeneuhe opened #110 "Attach files"
There is not the option to attach files in message center.

[2015-11-06 23:08] ffedeevp opened #111 "Null pointer exception when open MessageCenter after close and reopen the app."
Full stacktrace:

Process: net.taringa.mobile.debug, PID: 32589
    java.lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.TextView.setVisibility(int)' on a null object reference
            at com.apptentive.android.sdk.module.messagecenter.view.holder.IncomingTextMessageHolder.updateMessage(IncomingTextMessageHolder.java:44)
            at com.apptentive.android.sd

[2015-11-07 02:52] barry-li commented on #111
Thanks for reporting this! We have found the cause, and we will release a fix as soon as possible.

[2015-11-09 19:14] ffedeevp commented on #111
Thanks @barry-li !!  I hope you can resolve this soon to keep using apptentive.

[2015-11-16 12:15] serenskye commented on #107
I am having the same issue as well.

compileSdkVersion 23
buildToolsVersion 23.0.1
minSdkVersion 14
targetSdkVersion 23
Apptentive 2.0.1 (AAR)

[2015-12-01 08:39] roelvandun opened #112 "Attribute "track" already defined"
I'm using:
compile 'com.apptentive:apptentive-android:2.0.1@aar'
compile 'com.android.support:support-v4:23.1.1'
compile 'com.android.support:appcompat-v7:23.1.1'
compile 'com.android.support:cardview-v7:23.1.1'

[2015-12-01 10:38] #112 closed

[2015-12-01 10:44] roelvandun commented on #112
Android Studio said that the location of the error was "app/build/intermediates/exploded-aar/com.apptentive/apptentive-android/2.0.1/res/values/values.xml", so I thought the error came from AppTentive. But it seemed to come from an other file.

[2015-12-01 23:55] barry-li commented on #110
Attachment functionality will be restored in 2.1 release. Please stay tuned.

[2015-12-04 16:00] IonutGavris opened #113 "Hide all Apptentive branding does not work with Apptentive 2.0.1"
In message center there is an INFO button that opens a dialog with Apptentive information.

Looking trough the Apptentive source code it appears this button is always displayed.
This should be put behind a check that makes sure it will not appear when "Hide all Apptentive branding" is enabled.

Taking into consideration that you need to pay for this feature, it's kind of a rip off.

[2015-12-14 13:56] fedefarina commented on #111
Hi guys, any advance on this? Thanks!

[2015-12-14 19:14] skykelsey commented on #111
This issue has been fixed in the 2.1.0 release. Please check it out!

[2015-12-14 19:14] #111 closed

[2015-12-15 23:42] ShotJP opened #114 "Apptentive Message Center breaks on language change"
Going into the message center I see the following...

<img width="279" alt="screen shot 2015-12-15 at 4 35 39 pm" src="https://cloud.githubusercontent.com/assets/5375066/11827534/114870e8-a34a-11e5-878d-8b0f79982565.png">

If I then change the language on the device to anything else (tested with a few different), I get nothing but the following...

<img width="274" alt="screen shot 2015-12-15 at 4

[2015-12-16 00:13] skykelsey commented on #114
Hello Jason,

I'm sorry this is happening. I tried to quickly repro it, but couldn't. Would you mind sending me the logcat output to sky@apptentive.com? Hopefully that will allow me to diagnose the issue.

[2015-12-16 18:36] ShotJP commented on #114
@skykelsey sent some logs to the email provided. Let me know if there is any other debugging to try or information you'd like me to collect

[2015-12-16 19:40] ShotJP commented on #114
Thanks to some quick work from @skykelsey this was determined to be an issue in my account settings and not an SDK issue.

[2015-12-16 19:40] #114 closed

[2016-01-07 08:57] AdamCopperfield opened #115 "Message center doesn't support russian characters"
Tested on 2.1.1.
Send some message with russian characters, close activity, open again and you will see:
![image](https://cloud.githubusercontent.com/assets/5401297/12166230/704063e2-b535-11e5-90ac-4bd1d98dbe6e.png)
Take this string for testing: "что за хуйня пацаны, надо фиксить"

[2016-01-10 08:36] barry-li commented on #115
Thanks for reporting this. We have released a new sdk version 2.1.2 to address the issue. Please update your app to use the latest version.

[2016-01-11 11:34] #115 closed

[2016-01-12 09:47] xuyennguyen opened #116 "error: File is case-insensitive equivalent to: /Users/nguyenthixuyen/Work/Unity/PluginProject/apptentive-android-2.1.0/apptentive/res/values/integers.xml"
Hello guys,
I'm want to integrate apptentive in my project. But when  I imported the apptentive example, when i run it , I got the errror.
I have no idea to fix it. Could you please help me check it?

[2016-01-12 18:23] skykelsey commented on #110
The ability to attach messages is back in v2.1. Please check out the latest release (2.1.2 at this time).

[2016-01-12 18:23] #110 closed

[2016-01-12 18:26] skykelsey commented on #116
Hello @xuyennguyen,

I'm sorry you're seeing this problem. Can you please contact me at sky@apptentive.com? I need to know what your app and build process are like. It looks like you are using Unity, which we don't support, but perhaps it's a quick fix I can help you with.

[2016-02-11 02:28] erichkleung opened #117 "Why Activity instead of Context?"
Not entirely sure where to post questions, decided this might be a good place.

Why does `Apptentive.engage` take in `Activity` as an argument vs taking in `Context`? Going down the chain, the Activity/Context continually gets passed around, and the only places it's used only require Context as an argument.  If someone could shed some light on this, that would be great.

[2016-02-11 02:58] barry-li commented on #117
When the app engages an Apptentive event, given the targeting conditions are met, an Apptentive internal Activity will be launched to display things like rating prompt, message center, etc ...  This internal activity is also known as `ViewActivity`, which we ask you to declare in AndroidManifest.  The `Activity` parameter used in `Apptentive.engage` is THE activity that will  call `startActivity()

[2016-02-11 02:58] barry-li commented on #117
When the app engages an Apptentive event, given the targeting conditions are met, an Apptentive internal Activity will be launched to display things like rating prompt, message center, etc ...  This internal activity is also known as `ViewActivity`, which we ask you to declare in AndroidManifest.  The `Activity` parameter used in `Apptentive.engage` is THE activity that will  call `startActivity()

[2016-02-16 20:33] HakAl commented on #117
Context can be used to launch another Activity so long as the Intent has FLAG_NEW_TASK, iirc.

[2016-02-16 21:38] barry-li commented on #117
technically you are absolutely right. But as a SDK that launches activity, Apptentive tries not to use this flag, which would result in a new task being created for Apptentive activity. Majority of our customer prefer to have Apptentive activity being created in their existing task back stack.

[2016-02-16 22:10] HakAl commented on #117
Makes sense. Also makes sense for people to be concerned about holding onto an Activity reference. Looks like you all are doing things right. I've had a PR hanging since October because a third party SDK attempted to hold onto a single Activity reference for the duration of the app.

[2016-03-01 08:04] Rogger commented on #117
Is there a way to track events with the engage method without using the Activity as context?

For example we need to track an event as soon as the application starts, at this point only the application context is available (no Activity) and the engage method cannot be used.

[2016-03-01 23:18] barry-li commented on #117
Currently Apptentive sdk doesn't have a public method that will allow tracking event with a non-activity context. The primary reason for such a design decision is outlined in one of the earlier reply.  But we also hear and understand your specific requirement, and we are considering making changes in our sdk to accommodate in future releases.

As a short-term work-around, could you store the event

[2016-03-02 08:03] Rogger commented on #117
Thanks for your suggestion, but we prefer to wait for a public method.
Is it possible to get the method with the next release?

[2016-03-07 17:54] solcott opened #118 "Use apply() instead of commit() when using SharedPreferences.Editor"
I noticed that when you are editing SharedPreferences you are using commit()  In our tests commit takes about 10 milliseconds to write the changes to disk.  You should probably use apply() instead of commit().  apply() writes the changes to disk asynchronously.  The javadoc for [commit()](https://developer.android.com/reference/android/content/SharedPreferences.Editor.html#commit()) states the fol

[2016-03-07 19:22] skykelsey commented on #118
Thanks Scott. We're planning on purging all the unnecessary synchronous commits in our next release. Thanks for bringing this to our attention.

[2016-03-20 03:42] naveedahmad99 commented on #93
Here is the solution : http://stackoverflow.com/a/36109905/2915785

[2016-03-25 18:41] skykelsey commented on #117
We will be implementing this as part of our next major release. Stay tuned!

[2016-03-25 18:41] #116 closed

[2016-03-30 21:11] bromeostasis commented on #107
Has anyone figured this out? Having the same issue...

[2016-03-30 21:52] skykelsey commented on #107
Hello,

Are you seeing this error screen for an extended period after you launch the app? In order to allow customization of Message Center, we download configuration from our server before allowing Message Center to be displayed. Sometimes, if you launch the app for the first time and immediately open Message Center, we haven't had a chance to fetch configuration yet. While this can be annoying d

[2016-03-31 11:43] bromeostasis commented on #107
@skykelsey I've tried this even after waiting for the app to launch, I don't think that's the issue.

Some initial hunches:

- I thought it was because I hadn't "initialized" the message center, but I went into our app's console, set up a message center, saved, and rebuilt and I'm still seeing this.
- I see `Apptentive.pause()` being called every time I tap the button to open the message center, w

[2016-03-31 12:02] bromeostasis commented on #107
@skykelsey

Okay, so we recently upgraded to apptentive version 2, and we were previously using the project id to determine our project. I re-read the integration guide and noticed it mentioned to use the api key in settings to denote the project. I made this switch and am good to go.

For future reference, when adding the plugin, **do not** use the id in the url of your project:

`https://be.appt

[2016-04-14 08:23] luiyeas commented on #116
Hi!, I´ve the same error with the Eclipse Integration and this thread is closed but I can´t see the solution of this bug, how I can fix it?

Thanks.

[2016-04-14 08:25] luiyeas commented on #116
PD: my log error;

/Users/Desktop/Proyectos/eclipse/replicapp-android/Libraries/apptentive/res/values-sw600dp/Integers.xml: error: File is case-insensitive equivalent:     same path

[2016-04-18 09:19] sarath-hotspot opened #120 "Apptentive GCM notification behaving differently when app is in background."
When Apptentive GCM integration is enabled, and app is in background, app's GCM listener is not getting called.

I integrated my android app with apptentive as per GCM instructions in https://docs.apptentive.com/android/integration/

When I reply to a message from apptentive web UI, I am observing two notification behaviors at app side.

When app is opened, my own GCM listener is getting called. W

[2016-04-24 18:58] ericsavage opened #121 "why is GlobalInfo.apiKey written to the logs as an info message?"
Why is the GlobalInfo.apiKey written to the logs as an info message?
We are told in `settings/api` to *Keep your API key secret.*

<img width="720" alt="screen shot 2016-04-24 at 11 51 21 am" src="https://cloud.githubusercontent.com/assets/5480417/14769709/b78959b0-0a13-11e6-8ce8-f69554a6dfd5.png">

https://github.com/apptentive/apptentive-android/blob/master/apptentive/src/com/apptentive/android/

[2016-04-25 17:28] skykelsey commented on #121
Hi Eric,

The API Key is not actually as sensitive as our instructions make it out to be, but I will make sure we aren't logging it in a future release. I'll have the instructions updated to make it more clear.

Thanks!

[2016-04-25 17:28] #121 closed

[2016-05-03 01:05] #118 closed

[2016-05-03 01:05] skykelsey commented on #117
This is implemented in 3.0.0. Enjoy!

[2016-05-03 01:05] #117 closed

[2016-05-03 01:06] skykelsey commented on #118
This is implemented in 3.0.0. Enjoy!

[2016-05-09 01:06] aminelaadhari commented on #120
@skykelsey here the explanation on the issue http://stackoverflow.com/questions/35480573/gcmlistenerservice-is-not-called-when-application-is-in-background?rq=1

The server should send Data messages to allow customise the notifications.
It's very annoying...

[2016-05-23 21:27] skykelsey commented on #120
Thanks for reporting this. We are looking into implementing a solution for this, and will be rolling one out in the near future.

[2016-05-23 21:30] skykelsey commented on #108
We have rolled out completely redesigned surveys with our 3.0 release, which fixes this issue. The new surveys follow Material Design guidelines, inherit the app theme, and allow overriding the styles applied to our UI independently as well. If you are able, please check 3.0.0 out.

https://github.com/apptentive/apptentive-android/blob/master/CHANGELOG.md

[2016-05-23 21:30] #108 closed

[2016-05-23 21:31] skykelsey commented on #83
Our dialogs have been redesigned, and should no longer exhibit this issue.

[2016-05-23 21:31] #83 closed

[2016-06-16 14:50] aminelaadhari commented on #120
@skykelsey any updates on this issue ?
we can't drop parse because of this

[2016-06-16 17:24] skykelsey commented on #120
Hello Amine,

I'm sorry for the delay on this. We are investigating a fix in the current sprint, so hopefully we will be able to provide a solution in the next couple weeks, although I can't promise. We are working on improvements to how we handle push in general that should make integration simpler as well.

[2016-07-07 20:00] ckbhodge opened #123 "Fatal Exception: java.lang.NullPointerException on MessageAdapter.java line 376"
I'm using v3.1.1 and just saw this crash from one of our users:

[code]

Is this a known issue?

[2016-07-07 20:09] skykelsey commented on #123
Thanks @ckbhodge we'll take a look.

[2016-07-07 20:13] skykelsey commented on #123
This will be fixed in the forthcoming v3.2.0

[2016-07-07 20:13] #123 closed

[2016-07-13 11:09] aminelaadhari commented on #120
Hello @skykelsey. Any news about this ?

[2016-08-17 12:25] filipmaelbrancke commented on #113
After paying for Apptentive, it's indeed something we would expect too...

[2016-08-31 15:56] jmoubry opened #124 "Compose Message Loses Focus with Apptentive 3.2.1 on Android 4.4.2 devices"
In Message Center, when I touch the message body to enter a message, it immediately loses focus every time I touch the message body area. This only happens on Android 4.4.2 devices (I've tried an LG G2 and Droid Razr Maxx). It works on my Nexus 6 running Android 5.0.1. The same behavior occurs in Apptentive 3.2.0 and 3.2.1.

[2016-08-31 17:22] skykelsey commented on #124
Hi @jmoubry, thanks for bringing this to our attention. I'll try to reproduce.

[2016-09-06 14:43] GlebMaltsev opened #125 "NullPointerException at Util.getThemeColor(Util.java:472)"
Hello. Is it known issue? (Android 4.3)

`Fatal Exception: java.lang.NullPointerException
       at com.apptentive.android.sdk.util.Util.getThemeColor(Util.java:472)
       at com.apptentive.android.sdk.module.engagement.interaction.fragment.ApptentiveBaseFragment.onViewCreated(ApptentiveBaseFragment.java:268)
       at com.apptentive.android.sdk.module.engagement.interaction.fragment.MessageCente

[2016-09-06 17:05] skykelsey commented on #125
Hello @GlebMaltsev, can you please help me by answering a few questions?

* Which version of the Apptentive SDK are you using?
* Are you using an AppCompat theme for your entire Application, and if so, which one?

Thanks!

[2016-09-06 18:18] skykelsey commented on #123
Hi @grndvl1, have you tried with the latest release (3.2.1)?

[2016-09-07 06:05] GlebMaltsev commented on #125
@skykelsey, I use Apptentive SDK 3.0.0 version and "Theme.AppCompat" as parent theme for my application theme.

Unfortunately, i can't reproduce this issue on any of my devices. I have only one crash report from SGH-T999 device (Samsung Galaxy S III T-Mobile) running on android 4.3. So i can't confirm or refute that on latest version of Apptentive SDK this issue was fixed.

[2016-09-09 19:13] msaffitz commented on #120
We are in the final stages of testing a release of the SDK that will resolve this issue, and I anticipate it being available within the next couple of weeks.  Please keep an eye on our GitHub repository for availability.

[2016-09-13 00:34] skykelsey commented on #125
Hi @GlebMaltsev,

It turns out this has been fixed since 3.0.1, so if you haven't upgraded to the latest version, doing so will fix the problem. Thanks for reporting this.

[2016-09-13 00:34] #125 closed

[2016-09-13 09:27] GlebMaltsev commented on #125
@skykelsey. thanks.

[2016-09-13 15:36] davidschreiber opened #126 "Why do you require multidex to be enabled?"
Why does `apptentive-android` enable `multiDex = true` inside the `build.gradle` (https://github.com/apptentive/apptentive-android/blob/master/apptentive/build.gradle#L26)?

Native multidex support was only added Android Lollipop. Prior versions of Android require the `com.android.support:multidex` library to make multidex work, which is added as transitive dependency. The multidex support library

[2016-09-15 22:37] Badspler commented on #124
I have experienced this to on the following device:

Samsung Galaxy S5
Android: 5.0
Model number: SM-G900F

I have a 6.0 version of the same device and it is not having the issue described.

After experimenting with building at different versions, the bug looks like it was introduced in version 3.2.0 as I am not experiencing the bug when building at version 3.1.1

[2016-09-15 22:39] skykelsey commented on #124
Thanks for the additional info. I have a fix, and will be releasing a patch in the near future to address it.

[2016-09-19 02:56] chris-hsu opened #127 "error inflating FloatingActionButton after updating support library to 24.2.0"
E/UncaughtException(7190): android.view.InflateException: Binary XML file line #23: Error inflating class android.support.design.widget.FloatingActionButton
E/UncaughtException(7190): 	at android.view.LayoutInflater.createView(LayoutInflater.java:613)
E/UncaughtException(7190): 	at android.view.LayoutInflater.createViewFromTag(LayoutInflater.java:687)
E/UncaughtException(7190): 	at android.view.La

[2016-09-22 18:39] skykelsey commented on #126
Hello @davidschreiber ,

I believe that we can remove this flag. I don't think it should have been included in the first place. I'm sorry this is delaying your integration. I'll do some testing, and most likely remove it in the next patch release.

[2016-10-05 18:36] skykelsey commented on #126
We've released 3.2.2, which fixes this issue. It should be available on central maven within a few hours.

[2016-10-05 18:36] #126 closed

[2016-10-05 18:36] skykelsey commented on #124
Fixed in 3.2.2

[2016-10-05 18:36] #124 closed

[2016-10-06 11:55] febimfelix commented on #127
Same issue. Any udate on this?

[2016-10-06 18:05] skykelsey commented on #127
Thanks for reporting this. I'm unable to reproduce this issue. Can you please share more specific information about devices and OS versions where you saw this happen? Logs may also help, if you don't mind sending the to sky@apptentive.com

[2016-10-10 15:31] GlebMaltsev opened #128 "NullPointerException at MessageCenterComposingView.addImagesToImageAttachmentBand(java.util.List)"
Hello. I have crash on both 3.0.0 and 3.2.2 versions of apptentive SDK. Reproduced 10/10 on ~~Samsung Galaxy Note 3 Android 5.0~~ any device.

Steps to reproduce:
1. ~~Switch off the internet connection~~ Switch on "Do not keep activities" in developer options.
2. Open apptentive activity (Apptentive.showMessageCenter(getActivity())).
3. Press "add new message" button in right bottom corner (or us

[2016-10-14 21:17] skykelsey commented on #127
I was finally able to reproduce this by using the newest version of the Appcompat-v7 library, but without upgrading the other libraries that Apptentive depends on.

`compile 'com.android.support:appcompat-v7:24.2.1'`

The fix was to make sure that if you use a newer version of one, you use a newer version of the others as well.

[code]

This wasn't documented, so I will update our docs to point th

[2016-10-14 21:22] #127 closed

[2016-11-17 10:03] GlebMaltsev opened #129 "E/Apptentive: java.lang.NumberFormatException"
When start my application, log cat show me stack trace: https://gist.github.com/GlebMaltsev/7e94f3fbc3210f19c84ebd5da5cb860c

This error not crash my app, but seems that it broke some logic in Apptentive. I use Apptentive v3.2.2.

I think the reason of it that you try to parse app version name as sequence of long separated numbers. For current stack trace i use versionName "0.1.4" in default confi

[2016-11-21 23:53] skykelsey commented on #129
Hello Gleb,

You are correct. We currently only allow "semantic versions" which are integers separated by dots. The evalution short circuits, so if your app is versioned 0.2.0, and you are trying to match 0.2.0 > 0.1.4-QA-DEBUG, that would work, since it would not bother evaluating the third part. I will see if there is a better way for us to handle your use-case though. Would you consider the cor

[2016-11-21 23:57] skykelsey commented on #120
Fixed in 3.3.0. Please let me know if you have any problems upgrading.

[2016-11-21 23:57] #120 closed

[2016-11-22 05:49] GlebMaltsev commented on #129
Yes, thanks!

[2017-01-27 12:28] chrisanderson79 opened #130 "Sample app crashes on startup"
play-services-gcm is out of date - this should be updated to 10.0.1 for push notifications to work.

This also requires updating the classpath dependency to 3.0.0, i.e. com.google.gms:google-services:3.0.0

[2017-01-27 12:34] chrisanderson79 opened #131 "Rating prompt not showing with sample app."
When creating an account and trying to show a rating prompt with the sample app the rating is never shown.

This appears to be due to the code_point/rating_dialog.remind/last_invoked_at/total failing in the evaluation.

How do we set this? It doesn't seem to be on the rating dialog form.

01-27 12:32:11.905 3787-3787/com.apptentive.android.example V/Apptentive:     - code_point/rating_dialog.remin

[2017-01-27 16:44] skykelsey commented on #131
Hi Chris,

The RatingDialog is only shown after the EnjoymentDialog, or after a delay if a user previously selected "Remind" on the RatingDialog the first time it was shown. Are you able to see the EnjoymentDialog? Please send me complete logs at sky@apptentive.com, and I will try to help you out.

[2017-02-12 10:15] Rommanski opened #132 "cf_bundle_short_version_string is not a constant in com.apptentive.android.sdk.module.engagement.logic.FieldManager$QueryPart"
Hello, I'm getting this error in my console log while engaging event. Some events works well, some not. Do not understand what is wrong. I am getting this error for events: `one_minute` and  `ten_session_60`. I have attached stacktrace.
Will be greatfull for any help.

[code]

[2017-02-13 01:05] skykelsey commented on #132
Thanks for reporting this @Rommanski. This looks like bad data coming from our server. I'll make sure it gets taken care of.

[2017-02-13 08:49] Rommanski commented on #132
@skykelsey I'm using same app in dashboard for android and iOS. iOS works well. Can it be the reason of problem?

[2017-02-13 17:06] skykelsey commented on #132
Yes that's the problem. You should make sure you create an iOS app in Apptentive, and use its API Key for your iOS app. Then create an Android app and use its API Key in your Android app.

[2017-02-13 22:12] Rommanski commented on #132
Thank you @skykelsey I have tested and all works well. Sorry that disturbed you

[2017-02-14 01:19] skykelsey commented on #132
Not a problem, I'm glad I could help.

[2017-02-14 01:19] #132 closed

[2017-05-05 04:03] lennykano opened #133 "No handling of null extras in FragmentFactory"
Whilst the methods expect a `@NonNull` bundle, the activity can be launched without one by the monkey test runner, causing crashes to be logged.

This happens every time we release an update to the Play Store, as noted here:

http://stackoverflow.com/a/31957108

This state should be handled more gracefully.

[2017-05-05 16:16] skykelsey commented on #133
Thanks for letting us know Kane. We'll take care of it in an upcoming release.

[2017-06-26 13:56] RamilGabdrakhmanov opened #134 "App crash when i try open Message Center."
I use support libraries 25.3.1 and multidex:1.0.1

And try do this:
[code]

Result: App crashed on android < 21

[code]

[2017-06-26 16:12] skykelsey commented on #134
Thank you Ramil. We'll take look.

[2017-06-26 16:28] skykelsey commented on #134
Hi @RamilGabdrakhmanov, do you happen to have a complete stacktrace, or just more logs in general? Can you please send them to sky@apptentive.com? The stack trace you posted is clipped and missing the actual cause, since layout inflation errors are generally nested exceptions.

[2017-06-29 19:17] skykelsey commented on #134
Hi @RamilGabdrakhmanov. I wanted to see if you were able to send complete logs of the stacktrace. I'm not going to be able to diagnose the issue unless I see the root cause of the inflation error. I will say that in the past, this kind of thing is cause by not using the correct version of the support libraries. We require a minimum of 24.2.1.

[2017-07-25 20:32] skykelsey commented on #134
This is most likely because you are trying to use an old version of the support libraries. If you see this, and can answer my questions, I'll reopen.

[2017-07-25 20:32] #134 closed

[2017-07-25 20:33] #131 closed

[2017-07-25 20:34] #113 closed

[2017-11-07 17:21] skykelsey commented on #130
Fixed in 4.1.0

[2017-11-07 17:21] #130 closed

[2017-12-19 05:36] yloeza opened #141 "engage overload method does not execute callback"
This `engage` overload method is not properly passing down the `BooleanCallback` argument, instead is just passing null value as the callback param when executing the static engage event.
https://github.com/apptentive/apptentive-android/blob/7dd107ba3fc6813648f2b72c0a57f34bf0cb586d/apptentive/src/main/java/com/apptentive/android/sdk/Apptentive.java#L1145-L1147

Which will make the a call like the

[2017-12-19 18:34] #141 closed

[2017-12-19 18:52] weeeBox commented on #141
Hey @yloeza,

Sorry for the issue. The fixed 5.0.1 version should be available on Maven in about 1 hour.

Thanks,

-Alex

[2017-12-19 20:45] yloeza commented on #141
Thanks for a quick fix!

[2018-01-09 22:23] karabaralex opened #143 "ApptentiveViewActivity NullPointerException"
We have a lot of NPE crashes for Apptentive 4.1.0
QA cannot reproduce this, so we don't have any repro steps.

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.smartsheet.android/com.apptentive.android.sdk.ApptentiveViewActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'com.apptentive.android.sdk.conversation.Conversation com.apptent

[2018-01-10 00:20] skykelsey commented on #143
@karabaralex Thanks for reporting. We are looking into the issue.

[2018-01-10 00:57] weeeBox commented on #143
Hey @karabaralex,

Sorry for the issue. How do you initialize the SDK? Do you use any wrappers (like Cordova or mParticle)?

[2018-01-10 18:48] karabaralex commented on #143
Thanks for looking into that,

@weeeBox we don't use any wrappers
To init we call Apptentive.register on the main thread

[2018-01-13 00:14] avdakhani opened #145 "How to hide attachment button from the message centre?"

[2018-01-25 15:11] bGorle opened #146 "Apptentive registration on Worker thread"
I would like to do appetitive registration on worker thread, as it is giving ANR during register.
While doing `Apptentive.register`, It is creating object for `ApptentiveActivityLifeCycle` where it is having the `handler` as member to that class. It is giving RuntimeException we can not create Handler on worker thread.

[2018-01-25 18:24] skykelsey commented on #146
Hello @bGorle

Would you mind telling us the version of the Apptentive SDK you are using, and include the exception you are seeing?

[2018-02-05 16:54] skykelsey commented on #146
Thanks @bGorle

Can you please include the exception you are seeing?

[2018-02-14 10:01] bGorle commented on #146
We got the stack trace for the ANR where it is failing. Actually there we are initializing the appetitive
[code]

[2018-03-30 00:50] breakingthebuild opened #149 "Updating android platform compile sdk to android-p causes 'attr/textColorError' not found error"
When updating our android platform compile sdk to `android-p`, we are getting this error 'attr/textColorError' not found. This line is the culprit:

https://github.com/apptentive/apptentive-android/blob/master/apptentive/src/main/res/values/themes.xml#L150

[code]

[2018-04-04 18:30] weeeBox commented on #149
Hey @breakingthebuild. Sorry for the late reply: we're looking at the issue right now.

[2018-04-04 18:43] weeeBox commented on #149
@breakingthebuild, which `buildToolsVersion`, `targetSdkVersion` and `minSdkVersion` do you use? Would you be able to share your `build.gradle` file?

[2018-04-04 18:50] weeeBox commented on #146
All SDK related operations are performed on a background thread starting SDK v5.0.0

[2018-04-04 18:50] #146 closed

[2018-04-09 13:30] breakingthebuild commented on #149
@weeeBox Thanks for looking into this issue. Below are the gradle settings you asked for:

[code]

[2018-04-09 18:52] weeeBox commented on #149
@breakingthebuild, we're not able to reproduce the issue on our end. I've created a small test project with the same configuration as yours. Would you be able to check if you can build it?

It would also be helpful if you can send us your `build.gradle` file.

[Test-Apptentive.zip](https://github.com/apptentive/apptentive-android/files/1891333/Test-Apptentive.zip)

[2018-04-09 22:45] weeeBox commented on #145
Hi @avdakhani,

Sorry for the late reply but it's not possible in the current release of the SDK

[2018-04-09 22:45] #145 closed

[2018-04-09 22:46] #129 closed

[2018-04-09 23:02] weeeBox commented on #128
Fixed in v5.0.4

[2018-04-09 23:02] #128 closed

[2018-04-09 23:03] weeeBox commented on #143
Fixed in v5.0.4

[2018-04-09 23:03] #143 closed

[2018-05-31 04:27] weeeBox commented on #149
Thanks @ThePromoter.

We'll take a look at it

[2018-06-12 07:53] gmbett opened #159 "StrictMode policy violations when initializing Android SDK"
Hi,

When the Android SDK is initialized by
[code]

A lot of issues are detected by strict mode (disk read on UI thread):

        at android.os.StrictMode$AndroidBlockGuardPolicy.onReadFromDisk(StrictMode.java:1293)
        at java.io.UnixFileSystem.checkAccess(UnixFileSystem.java:249)
        at java.io.File.exists(File.java:780)
        at android.app.ContextImpl.ensurePrivateDirExists(ContextI

[2018-06-12 14:45] weeeBox commented on #159
Hi @gmbett,

Thanks for finding these issues. We'll fix them in a future release. Stay tuned!

-Alex

[2018-06-13 07:41] vinayakkumar opened #160 "Unable to remove implicite permission of Read SD Card permission after targeting Android O ie api level 27"
After Targetting to Android target SDK version 27  we are getting the issue .
Unwanted permission request coming from the AppTentive
Can you please remove this code from the   aar code .Which is causing problem

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

I am using arr in dependencies of gradle.

Manifest merger log
		ADDED from [com.apptentive:apptentive-androi

[2018-06-13 15:55] weeeBox commented on #160
Hi @vinayakkumar,

Sorry for the issue. Would you be able to provide your build.gradle file?

[2018-06-18 09:08] vinayakkumar commented on #160
Build.gradle

apply plugin: 'com.android.application'

android {
    compileSdkVersion 27
    buildToolsVersion '27.0.3'
    useLibrary 'org.apache.http.legacy'

    defaultConfig {
        applicationId "com.philips.sleepmapper.root"
        targetSdkVersion 27
        minSdkVersion 21
        versionCode 93
        versionName "2.15 (Alpha June 14)"
    }

    signingConfigs {
        release {

[2018-06-18 09:10] vinayakkumar commented on #160
Refer https://github.com/bitstadium/HockeySDK-Android they have done this fix

[2018-06-18 18:02] weeeBox commented on #160
Fixed in the upcoming 1.5.4 release.

[2018-06-18 18:02] #160 closed

[2018-06-21 20:03] breakingthebuild commented on #149
@weeeBox Hey Sorry for the lack of response on my part. Curious if you were able to reproduce this issue?

[2018-06-21 20:55] weeeBox commented on #149
@breakingthebuild, yes, I was able to reproduce it. Looking for a solution now...

[2018-06-21 21:04] breakingthebuild commented on #149
@weeeBox Awesome! Thanks for the quick response.

[2018-06-21 21:28] weeeBox commented on #149
Hi, @breakingthebuild.

Here's a temporary fix (will incorporate it in the next SDK release):
Create a new xml file `<your_app_module>/src/main/res/values-v27/apptentive-attrs-fix.xml` with the following content:
[code]

Let me know if it helps!

[2018-06-22 15:33] breakingthebuild commented on #149
That worked. Thanks @weeeBox

[2018-06-22 21:17] weeeBox commented on #149
Great! Thanks for your help! The fix is available in 5.1.4 release

[2018-06-22 21:17] #149 closed

[2018-06-29 14:25] seantimm opened #161 "API 27 removes method resulting in crash"
IntentCompat.makeRestartActivityTask has been removed in API 27, so Apptentive now crashes the app when opening and then clicking back when targeting API 27.

https://developer.android.com/sdk/support_api_diff/27.0.0/changes/android.support.v4.content.IntentCompat

[2018-06-29 18:35] weeeBox commented on #161
Hi @seantimm,

Sorry for the issue. Which version of Apptentive SDK have you been using? Would you be able to attach your `build.gradle` file?

-Alex

[2018-06-29 19:03] seantimm commented on #161
Version 3.4.1

[2018-06-29 19:29] seantimm commented on #161
Latest version resolves the problem, so I'm going to close this.  I'm still not sure why it wouldn't list as a dependency update, but we're good to go!  Thanks!

[2018-06-29 19:29] #161 closed

[2018-06-29 20:13] weeeBox commented on #161
No problem! Glad it helps!

[2018-08-01 20:08] lennonpetrick commented on #149
Hey guys, I have the same issue in my project.
It seems appcompat has changed `textColorError ` attribute. Now it's using `colorError` instead.

[2018-08-01 20:18] weeeBox commented on #149
Hi @lennonpetrick,

What are your `compileSdkVersion`, `buildToolsVersion` and `targetSdkVersion`?

[2018-08-01 21:47] lennonpetrick commented on #149
It's `compileSdkVersion  28` , `buildToolsVersion  27.0.3` and `targetSdkVersion 28`.

I think you misunderstood me lol. I am not using your product.
I was just looking for a solution for my problem when I came across with this git issue. So after finding the solution I thought would be good to comment here for helping someone else.

[2018-08-01 22:32] weeeBox commented on #149
Hey @lennonpetrick,

Yes, I've totally misread that 🤦! Thanks for your hint, we'll take a closer look!

[2018-08-10 23:57] hbloom1783 opened #164 "This provider is subject to path traversal attacks."
If this provider gets exported by an app, it gives read access to the app's entire file system to anyone who can broadcast intents on the same device.  Per https://support.google.com/faqs/answer/7496913, an example of an attack URI would be "content://it.my.app.ApptentiveAttachmentFileProvider/%2F..%2F..path%2Fto%2Fsecret.txt".

[2018-08-11 02:54] weeeBox commented on #164
Hey @hbloom1783,

Thanks for reporting that. We'll take a closer look.

[2018-09-04 09:46] febimfelix opened #167 "Unable to show message center: no active conversation."
When i try to set Person email or while try to show Message Center , i am getting the error below.

[2018-09-04 14:56] weeeBox commented on #167
Hi @febimfelix,

Which SDK version do you use? Do you use login/logout functionality?

[2018-09-05 09:02] gmbett opened #168 "(android:maxSdkVersion="18") for WRITE_EXTERNAL_STORAGE"
On latest Apptentive version you added the above attribute.

That property breaks the permission request process for those applications that are targeting API 26 and are requesting READ_EXTERNAL_STORAGE and WRITE_EXTERNAL_STORAGE storage permissions.

https://developer.android.com/about/versions/oreo/android-8.0-changes#rmp

[2018-09-05 09:05] gmbett commented on #168
It can be fixed if you add:
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>

But anyway... you shouldn't do that

[2018-09-05 14:56] weeeBox commented on #168
Hi @gmbett,

It was [added](https://github.com/apptentive/apptentive-android/blob/master/apptentive/src/main/AndroidManifest.xml#L14) in version 5.1.4. Doesn't it work for you as expected?

[2018-09-05 15:04] gmbett commented on #168
If I don't add the **tools:node="replace"** the permission request fails immediately.

[2018-09-05 15:30] weeeBox commented on #168
Sorry for the inconvenience. We'll look at it and get back to you.

[2018-09-11 17:31] weeeBox commented on #168
Hi @gmbett,

We're trying to reproduce the issue on our end. Would you be able to provide more implementation details (like your `build.gradle` file or even a small test project). That would be very helpful!

[2018-09-12 09:03] gmbett commented on #168
Hi @weeeBox

I have created a sample project to show you the issue.
Please check: https://github.com/gmbett/storagepermissionissue

If you have any questions please feel free to ask them !

[2018-09-12 17:41] weeeBox commented on #168
Thanks!

[2018-09-12 18:06] weeeBox commented on #168
Hi @gmbett,

I can see the issue now. It seems like other lib developers are experiencing this, too. We would update our docs and ask people to override permission in their manifest:

`<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>`

This article explains it better: https://commonsware.com/blog/2018/04/09/manifest-merger-maxsdkversion-missing-permi

[2018-09-12 18:06] #168 closed

[2018-09-12 18:42] gmbett commented on #168
Ok, thanks for checking this issue. 👍

[2018-09-14 17:58] weeeBox commented on #167
Hi @febimfelix,

Did you have a chance to look at this?

[2018-09-17 07:15] febimfelix commented on #167
com.apptentive:apptentive-android:5.0.2
Here is my SDK version.

Yes. I use login/logout functionality.

[update] My issue resolved once i reinstall the application. Don't know why this happened.

[2018-09-19 09:50] vinayakkumar opened #169 "Libray not working with Android P (traget 28 and JDK compiler 1.8)"
Hi Team ,

Aptentive 5.3.0 is not working Android P ie target and compile version 28 and JD version 1.8

We are facing random error so please make sure your libray is compatable with Android P ie Target version 28

[2018-09-19 16:34] weeeBox commented on #169
Hi @vinayakkumar,

What kind of errors are you facing? Can you also provide the contents of your `build.gradle` file?

[2018-09-27 07:44] stephan-mediamonks commented on #169
@weeeBox We have a similar setup, AppTentive SDK 5.3.0, target 28, running on Android Pie emulator.

[Here](https://drive.google.com/open?id=1I4w9VOktuTq5cH4RUFoN1VoqtTsLQJHu) is an export of LogCat, filtered for "AppTentive". Hope that gives you more data. If helpful we can share more project setup details.

[2018-09-27 16:13] weeeBox commented on #169
Thanks, @stephan-mediamonks. We'll take a look and get back to you ASAP

[2018-09-27 16:28] weeeBox commented on #169
Hey @stephan-mediamonks,

Would you be able to provide the contents of your `build.gradle` file?

[2018-09-28 09:18] stephan-mediamonks commented on #169
Hi Alex,

I’ve attached a zip with both the project level build gradle and the app level build gradle.

Two more comments:

the logcat is actually from an emulator running Android 8.1, not Android 9
the project includes DexGuard. We did not update any Proguard / Dexguard rules when updating to SDK 5.3

Regards,

--
Stephan Bezoen · Lead Mobile Monk at MediaMonks
LA · NY · MX · BA · SP · LDN · AMS

[2018-09-28 17:03] weeeBox commented on #169
Hi @stephan-mediamonks,

I can't see any attachments.

[2018-09-28 19:48] weeeBox commented on #169
Hi @stephan-mediamonks,

We're able to reproduce the issue after updating `platform-tools` to `28.0.1` and `emulator` to 28.0.3`. Everything works find on a real device. Do you have API 27 devices to verify?

[2018-10-11 00:28] weeeBox commented on #169
Hey @ stephan-mediamonks,

Did you have a chance to check this out?

[2018-10-22 16:29] weeeBox commented on #169
Fixed in 5.3.1

[2018-10-22 16:29] #169 closed

[2018-10-24 14:56] MikeMostovyiNGTI opened #171 "Crash when asking for user feedback"
Happened on Android 9, Apptentive SDK 5.3.1.

Steps:
1. Apptentive dialog is presented with the question if user likes the app.
2. User presses NO.
3. Crash occurs.

[code]

[2018-10-24 16:05] weeeBox commented on #171
Hi @MikeMostovyiNGTI,

Sorry for the issue. Did you use a device or an emulator? What the contents of your `build.gradle` file?

[2018-10-25 09:07] MikeMostovyiNGTI commented on #171
@weeeBox, the issue occurred on OnePlus 6. We are using Support Library 28.0.0. What else from build.gradle do you think might be relevant?

[2018-10-29 07:15] DominikJura opened #173 "Forcing users to use lib permission"
It's really bad habit to force users to use library permission. Because of Yours `WRITE_EXTERNAL_STORAGE` permission witch is actually optional, users (Android M and above) on updating/installing application need to agreed or disable this permission, even if I'm not using this feature. I can also force to remove it in code, but it's kinda ugly

Remove all Your permissions in manifest code, and wri

[2018-10-30 21:12] weeeBox commented on #171
@MikeMostovyiNGTI, we have a hard time reproducing the issue. The more information you can provide - the better.

[2018-10-30 23:33] weeeBox commented on #171
We figured it out. Fix would be available in 5.3.3

[2018-11-06 21:18] weeeBox commented on #164
Fixed in `5.1.1`

[2018-11-06 21:18] #164 closed

[2018-11-20 22:32] theAdmiralNelson opened #174 "canShowMessageCenter is returning false"
We have a react native android app that's been working well with Apptentive until recently.  When we make the call to canShowMessageCenter(), it always returns as false.

These are the support libraries we are using:
[code]

And our code where we call the method looks like this:
[code]

Any help diagnosing why it always returns as false would be much appreciated!

[2018-11-20 22:48] weeeBox commented on #174
Hi @theAdmiralNelson,

We support React Native so you don't need to write your own wrappers: https://github.com/apptentive/apptentive-react-native

It would be helpful if you can send us device logs.

[2018-11-21 01:35] theAdmiralNelson commented on #174
Wow! Thanks for getting back to me so soon. So, I was trying to capture the logs around the button being clicked earlier, but after searching the logs further up, these are the logs around the register event. Looks like our key is corrupted. I'll write up another ticket if I have any trouble getting that resolved. Thanks for the quick reply!
[code]

[2018-11-21 02:30] weeeBox commented on #174
@theAdmiralNelson, do you test using emulator or device?

[2018-11-21 12:08] theAdmiralNelson commented on #174
@weeeBox, both, but those logs are from an emulator. A user reported this issue, and we've seen it on both emulator and device. I can get you logs from a device if that's helpful.

[2018-11-21 18:10] weeeBox commented on #174
Which device/OS version do you use for testing? Do you have the latest Android build tools installed?

[2018-11-21 20:15] theAdmiralNelson commented on #174
We have a couple of devices. We have an old Galaxy S6 that's on 7.0 and a Pixel 2 running 9.0.  The Galaxy works great when calling canShowMessageCenter(). The Pixel 2, not so much. The logs from the emulator was a Pixel 2 on 8.1.  Here's the weird bit, I just tried running the same code on a Pixel 2 emulator running 9.0.  No problems, message center pops up beautifully.  And we were on 28.0.2 wit

[2018-11-22 07:56] weeeBox commented on #174
We saw some issues with Android KeyChain with build tools 28.0.2

[2018-11-23 15:05] theAdmiralNelson commented on #174
Okay, good to know. Let me do some more testing, and I'll let you know if the issue clears up with 28.0.3.  I also see that our code strays slightly from your SDK suggestions when registering.
[code]
Our's is configured without the ApptentiveConfiguration class. It's just:
[code]

If I try to invoke the ApptentiveConfiguration class, Android studio won't build. Is there anything in that class that

[2018-11-26 17:00] theAdmiralNelson commented on #174
I recant what I said earlier. The debug and release builds are only reacting differently because the release build runs quicker. This seems to be a timing issue. It's a 50/50 chance or less that when we register our app, the process goes through.  After updating build tools and support libraries, the issue still persists. Not sure what else we can do. Thanks again for your time!

[2018-11-26 17:55] weeeBox commented on #174
Thanks for the additional info. Were you able to see the issue in the "quicker" release build or "slower" debug build?

[2018-11-26 18:44] theAdmiralNelson commented on #174
The release build would intermittently have the 'corrupted key'. I just switched over to your RN library. Seems to eliminate the issue, but more testing will tell. Thanks again for all of your time. Super prompt responses!

[2018-11-26 18:45] weeeBox commented on #174
Thanks @theAdmiralNelson, we'll take a close look at release configuration.

[2018-12-06 00:10] weeeBox commented on #171
Now available in 5.3.3

[2018-12-06 00:10] #171 closed

[2019-01-16 19:25] szymonnn commented on #174
@weeeBox Hi there, I don't want to open new issue as I think that mine is connected with this one.
I work on native Android app and Message Center stopped working on this device:

Apptentive SDK: 5.3.3
Device Model: SM-G960F
Android OS Version: 8.0.0
Android OS API Level: 26
Locale: polski (Polska)

I catched some logs and it looks like there is some encryption problem.
[code]

Any help appreciate

[2019-01-16 19:36] weeeBox commented on #174
Hey @szymonnn,

Sorry for the issue. We're working close with Google to resolve it.

[2019-01-23 19:07] weeeBox commented on #174
Google is pretty slow on responses. They claim that the issue mostly affects OEM devices. We're planning to make encryption optional for the next SDK release.

[2019-01-24 05:36] szymonnn commented on #174
@weeeBox as I read Apptentive SDK release notes it seems that problem shouldn't exist in version v5.2.0 (v5.3.0 Improved SDK security with encryption and KeyStore). Can you confirm that?

[2019-01-24 22:21] vasgit commented on #174
@szymonnn I have the same problem in v5.3.3. I currently forced use v5.3.0, it not has problem with Message Center.
@weeeBox I am also waiting for the update

[2019-01-29 21:58] weeeBox commented on #174
@szymonnn, @theAdmiralNelson, starting 5.4.0, on-device storage encryption is optional. Please, update your installations.

[2019-01-29 21:58] #174 closed

[2019-02-14 12:22] alexandru-calinoiu commented on #159
@weeeBox any updates on this issue?

[2019-02-14 22:38] weeeBox commented on #159
Hi @gmbett,

Sorry for the delay. We're getting this item triaged and hopefully include the fix into the next release.

[2019-03-06 19:33] hydejiaqi opened #177 "crash when user copy text from WebView"
Hi, our app crashes after copy text from WebView. I checked the backtrace, it seems like this is triggered by "Appetitive Queu" thread. This issue only happens on android OS 8.0 and below with google chrome version 70.0+ phone. I tried both latest appentive sdk and 5.1.5 version, they all give me the same error. Once I delete appentive initial in the application class, this issue just disappear.
H

[2019-03-06 19:56] weeeBox commented on #177
Hi, @hydejiaqi, we saw it before and still trying to troubleshoot. As a quick workaround - disable the troubleshooting mode for the SDK:

[code]

[2019-03-06 20:36] hydejiaqi commented on #177
@weeeBox  Thank, I will try it.

[2019-03-06 21:11] #177 closed

[2019-03-19 04:42] wshelor commented on #146
This doesn't seem to be the case, @weeeBox - the SDK as of version 5.3.3 still crashes if you register on a background thread without preparing a looper for the handler.  It sounds like this is not the intended behavior, right?

[2019-03-19 04:44] wshelor commented on #146
Also note that in our testing apptentive takes 150-250ms to start.  Seems a bit low for an ANR, but definitely way too much to add to application initialization.  You guys should really dig into kicking off a background thread for all your initialization, as it takes a super long time (one of our top 3 third party initializations).

[2019-03-19 17:32] weeeBox commented on #146
Thanks @wshelor, we'll prioritize this item and incorporate it in the future release.

[2019-04-18 18:22] alexandru-calinoiu commented on #159
@weeeBox planning a release soon?

[2019-05-01 16:30] dbharani commented on #146
@weeeBox is this issue fixed on current builds? I see similar ANRs with 5.3.3

[2019-05-01 17:32] dbharani commented on #146
ANR log
`
  pc 000000000078d29d  /system/framework/arm/boot-framework.oat (Java_android_os_BinderProxy_transactNative__ILandroid_os_Parcel_2Landroid_os_Parcel_2I+132)
  at android.os.BinderProxy.transactNative (Native method)
  at android.os.BinderProxy.transact (Binder.java:777)
  at android.security.IKeystoreService$Stub$Proxy.exist (IKeystoreService.java:846)
  at android.security.KeyStore.cont

[2019-05-01 17:36] dbharani commented on #146
@skykelsey @weeeBox Should I create a new issue or will you guys re-open this? Let me know if developers need any further info, I live in Seattle

[2019-05-01 17:54] weeeBox commented on #146
Hey @dbharani,

Please, update to 5.4.1. We made changes to the encryption handling.

[2019-05-06 04:39] dbharani commented on #146
@weeeBox I am afraid it's not fixed with 5.4.1. I still see that ANR with Samsung Galaxy J7 Prime

`
  at android.os.BinderProxy.transactNative (Native method)
  at android.os.BinderProxy.transact (Binder.java:777)
  at android.security.IKeystoreService$Stub$Proxy.exist (IKeystoreService.java:846)
  at android.security.KeyStore.contains (KeyStore.java:527)
  at android.security.keystore.AndroidKey

[2019-05-06 04:57] weeeBox commented on #146
@dbharani, would you open a separate issue for easier tracking?

[2019-05-06 04:57] weeeBox commented on #159
We're planning to incorporate it in the upcoming release (some time after Google I/O)

[2019-05-06 17:05] dbharani opened #179 "Apptentive registration on Worker thread causing ANR"
We can still see that ANR with some devices (eg: Samsung Galaxy J7 Prime, 8.1 OS). Find the stacktrace below:

`at android.os.BinderProxy.transactNative (Native method) at android.os.BinderProxy.transact (Binder.java:777) at android.security.IKeystoreService$Stub$Proxy.exist (IKeystoreService.java:846) at android.security.KeyStore.contains (KeyStore.java:527) at android.security.keystore.AndroidKe

[2019-07-16 17:19] astefanyuk opened #182 "'FragmentManagerImpl.isDestroyed()' on a null object reference"
Apptentive version 5.4.3.
Android 9.0
Crash on dismiss Apptentive popup message.

java.lang.RuntimeException: Unable to destroy activity {com.apptentive.android.sdk.ApptentiveViewActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean androidx.fragment.app.FragmentManagerImpl.isDestroyed()' on a null object reference
       at android.app.ActivityThread.performDestroyA

[2019-07-17 06:36] weeeBox commented on #182
Hey @astefanyuk,

Sorry for the issue. We'll take a look asap.

[2019-07-17 07:25] astefanyuk commented on #182
Hi.
Thanks for quick response.
Let me know if you need any details

On Wed, Jul 17, 2019, 9:36 AM Alex Lementuev <notifications@github.com>
wrote:

[2019-07-19 05:16] weeeBox commented on #182
Hey @astefanyuk,

We have some difficulties reproducing the problem. Would you be able to provide the content of your `build.gradle` files?

[2019-07-20 18:25] astefanyuk commented on #182
Here is some information.

ext.buildConfig = [
            'compileSdk': 29,
            'targetSdk' : 29,
            'minSdk'    : 19,
            'gradle'    : '3.4.2',
            'kotlin'    : '1.3.41'
    ]

androidx.dynamicanimation:dynamicanimation:1.1.0-alpha02
androidx.annotation:annotation:1.1.0
androidx.appcompat:appcompat:1.1.0-rc01
androidx.cardview:cardview:1.0.0
androidx.constraint

[2019-07-20 19:28] weeeBox commented on #182
Thanks for the info

[2019-07-22 11:54] weeeBox commented on #182
@astefanyuk, seems like we're running into this [issue](https://issuetracker.google.com/issues/136741838). We'll keep investigating and get back to you when we have a solution.

[2019-07-23 22:53] sirivanleo opened #183 "Active Conversation Error on Login and Message Center Loading"
Seems similar to this https://github.com/apptentive/apptentive-android/issues/167

I tried looking in the documentation for this failure but it doesn't appear to be documented https://learn.apptentive.com/knowledge-base/android-integration-reference/#apptentive-logincallback

We are seeing an increase in login failures when users try to open message center. This failure is being thrown. One timest

[2019-07-24 17:06] CaseyApptentive commented on #183
Hi @sirivanleo, thanks so much for reaching out. We'll take a look at this as soon as possible and follow up directly when we know more.

Let me know if there's anything I can do for you in the meantime.

[2019-07-24 19:23] weeeBox commented on #183
Hey @sirivanleo,

Do you use on-device encryption with Apptentive?

Race condition is unlikely since we only read/write SDK state in a single thread. This error indicates that the SDK was not able to load data from disk (corrupted files, failed encryption, etc).

Would you be able to provide the full log from any of the affected devices?

[2019-07-24 19:36] sirivanleo commented on #183
Looking at our `ApptentiveConfiguration` we use this constructor
[code]
after we modify that configuration based on local debug flag
keep in mind this is kotlin
[code]

Tracing the sdk I expect encryption to be off by default and we do not enable it.

[2019-07-24 20:02] CaseyApptentive commented on #183
Hi @sirivanleo -- could you email me directly at casey@apptentive.com with which app you're working on? I'll add @weeeBox to the thread and can take a deeper look at the issue once we have the app name.

Thanks for helping track this down!

[2019-07-24 20:58] sirivanleo commented on #183
I asked around and managed to get a stacktrace from the sdk side. I'll attach public facing trace here and share the project specific logs via email. Also I was told veronica@apptentive.com should have escalated this.

[apptentive-sdk-stacktrace.txt](https://github.com/apptentive/apptentive-android/files/3428717/apptentive-sdk-stacktrace.txt)

[2019-07-24 21:02] CaseyApptentive commented on #183
Thanks, @sirivanleo !

And yes, I mentioned this to Veronica and can confirm the app you're working on. I'll look for your email as well and we'll take the conversation there with all involved cc'd.

Thanks again.

[2019-07-25 03:43] weeeBox commented on #183
Hey @sirivanleo,

We've examined to logs and it looks like an existing issue which was fixed in 5.4.2. Please, update to the latest SDK version and let us know if it works! The fix would restore the data in all the existing app installs so after the update you should be able to see the issue occurrences going down.

[2019-07-26 22:29] sirivanleo commented on #183
We can confirm that sdk 5.4.4 resolves this serialization issue

[2019-07-26 22:33] CaseyApptentive commented on #183
Thanks for verifying, @sirivanleo! As this thread is split between GitHub and email, please help me make sure that all appropriate teams are aware.

Thanks again!

[2019-07-30 11:53] faizfolio commented on #182
App crashes on closing message center screen on Samsung Galaxy S8 device only, working fine on the rest of the devices. Android version 8.0

Project config:
	compileSdkVersion = 28
	minSdkVersion 21

`
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.squaretrade.android.ppa, PID: 8698
    java.lang.RuntimeException: Unable to destroy activity {com.squaretrade.android.ppa/com.apptentive.and

[2019-07-30 17:19] CaseyApptentive commented on #182
Hi @faizfolio, thanks for the report and apologies for the inconvenience. Happy to look into this with you. I'd love to get an email thread going to help more deeply. Could you email me at casey@apptentive.com and I'll help coordinate?

I'll look into the crash in the meantime. Would love additional details like:
- Are you only seeing this crash when you upgraded the SDK version?
- Is it happening

[2019-07-31 05:51] #183 closed

[2019-07-31 05:52] weeeBox commented on #182
@faizfolio, would you able to provide the content of your `build.gradle` file (the dependencies section)

[2019-08-01 06:51] harisf3 commented on #182
also happening on Nexus emulator, tested on Android O and Android P.

[2019-08-01 10:13] faizfolio commented on #182
@weeeBox Here are the dependencies of my project
`

    implementation fileTree(dir: 'libs', include: ['*.jar'])
    implementation 'fr.bmartel:jspeedtest:1.32.1'
    implementation 'androidx.constraintlayout:constraintlayout:1.1.3'
    implementation 'androidx.multidex:multidex:2.0.1'
    implementation 'androidx.recyclerview:recyclerview:1.0.0'
    implementation 'androidx.cardview:cardview:1.0.

[2019-08-01 19:49] weeeBox commented on #182
Hey @faizfolio, thanks for the info!

[2019-08-06 06:59] faizfolio commented on #182
@weeeBox Any update on this issue? We are getting this issue in our production build and we will appreciate if you guys can fix it as soon as possible.

[2019-08-06 20:40] CaseyApptentive commented on #182
Hi @faizfolio, we're still looking at this. Can you email me at casey@apptentive.com and I'll follow up with more details?

Thanks!

[2019-08-09 07:59] astefanyuk commented on #182
Failed with versions:
def androidDesignVersion = '1.1.0-alpha09'
def androidTestRulesVersion = '1.3.0-alpha02'
def androidTestRunnerVersion = '1.1.1'
def androidTestMonitorVersion = '1.3.0-alpha02'
def androidFragmentTestVersion = '1.2.0-alpha01'
def androidXAppCompatVersion = '1.1.0-rc01'
def androidXRecyclerViewVersion = '1.1.0-beta01'
def androidXAnnotationVersion = '1.1.0'
def androidXAnimatio

[2019-08-09 22:54] CaseyApptentive commented on #182
Thanks for the thorough report, @astefanyuk !

Did you happen to start using Jetpack on the version of your app that's having issues? Wondering because we're currently tracking a similar issue related to compatibility with Jetpack.

[2019-08-10 08:01] astefanyuk commented on #182
Jetpack are in both versions.
android.enableJetifier=true
android.useAndroidX=true
org.gradle.jvmargs=-Xmx5120m -XX\:MaxPermSize\=512m
-XX\:+HeapDumpOnOutOfMemoryError -Dfile.encoding\=UTF-8
org.gradle.parallel=true
org.gradle.configureondemand=true
kapt.incremental.apt=true
org.gradle.caching=true

сб, 10 серп. 2019 о 01:54 CaseyApptentive <notifications@github.com> пише:

[2019-08-10 08:02] astefanyuk commented on #182
@CaseyApptentive  Do you have plans migrate to AndroidX ? Maybe it will resolve issue.

[2019-08-12 13:37] weeeBox commented on #182
@astefanyuk, we have migrated to Android X. Unfortunately, this did not resolve the issue

[2019-08-12 14:03] weeeBox commented on #182
@astefanyuk, we believe we have found a workaround. Preparing the fix...

[2019-08-16 06:40] weeeBox commented on #182
Fixed in `5.4.5`

[2019-08-16 06:40] #182 closed

[2019-09-05 13:16] sicklepilot opened #187 "Survey is covered in focus overlay"
Tested on Android 8, 9 and 10

When you create a survey that can goes past the bottom of the screen, needing to be scrolled, a yellow overlay appears when you tap on the survey or scroll. This goes away when you hit tab and moves to the next focusable item. I believe the code causing this issue is related to focus resetting code found here: https://github.com/apptentive/apptentive-android/blob/mas

[2019-09-06 00:43] CaseyApptentive commented on #187
Thanks for the thorough report @sicklepilot. I'd be happy to look into this for you. Which version of our SDK are you using?

[2019-09-06 00:47] sicklepilot commented on #187
Hey Casey! We’re experiencing this on 5.4.5 and 5.4.6 for sure. Im unable to test other versions due to a crash in older libraries on the survey fragment.

Thanks for investigating this!

[2019-09-06 00:49] CaseyApptentive commented on #187
Thanks, @sicklepilot! Mind emailing me at casey@apptentive.com with more info on the specific app you're working on? I'd like to keep your Customer Success Manager in the loop as well, if relevant.

Appreciate the help tracking this down.

[2019-09-17 10:59] faizfolio opened #188 "Message Center: Button text not visible"
Hi,
We are using Message Center feature in our app. We came to notice that the button text color is not visible properly and also not customizable from theme override.

We are using material design theme in our app.

Apptentive library version: 5.4.5

![Android_Feedback](https://user-images.githubusercontent.com/42534213/65034438-7a182000-d960-11e9-92fc-d17e1dad5e18.JPEG)

[2019-09-17 16:58] weeeBox commented on #188
Hey @faizfolio,

We're working on migrating our UI to material design components. In a mean time you can fix button style with this snippet (inside your theme file):

[code]

[2019-10-03 08:10] harisf3 commented on #188
This still remains same. when we can expect new library?
![PPA-2208_3 5 1_Failed](https://user-images.githubusercontent.com/43817946/66109971-30296e00-e5df-11e9-9218-257d5cbbf0f6.JPEG)

[2019-10-03 18:52] CaseyApptentive commented on #188
Hi @harisf3 ! Let me sync with my team to get you an answer.

Stay tuned,

Casey

[2019-10-03 22:43] CaseyApptentive commented on #188
Hi @harisf3,

Thanks again for this new report. Did the override that @weeeBox provided previously fix the other button style issue for you? Let me know as we're working to prioritize material design changes more broadly.

Also, could you email me directly at support@apptentive.com and let me know which specific app you're working on? I'd like to keep your Customer Success Manager in the loop as w

[2019-10-04 05:53] harisf3 commented on #188
Yup the previous override kinda fixed the issue, it showed black test over blue background, which is not ideal but better than invisible at all.

[2019-10-14 09:19] TheDoorNextBoy opened #189 "Crash in ApptentiveViewActivity.onSaveInstanceState"
Hi, I do get the following crash report

I assume this can happen when something else crashes in onCreate before addFragmentToAdapter() is called. The generic catch should be removed there to find the real issue. A null check in onSaveInstance state could be a quick fix.

       at com.apptentive.android.sdk.ApptentiveViewActivity.onSaveInstanceState(ApptentiveViewActivity.java:300)
       at andr

[2019-10-14 15:46] weeeBox commented on #189
Hey @TheDoorNextBoy,

Sorry for the issue: we'll take a look at it asap.

[2019-10-14 17:12] CaseyApptentive commented on #189
@TheDoorNextBoy thanks for the report! We're digging in.

In the meantime, could you email us at support@apptentive.com with which the account you're working on? I'd like to keep your Customer Success Manager in the loop so they can help coordinate, if need be.

Thanks again.

[2019-10-14 20:07] twinklesharma1311 commented on #189
Hey @TheDoorNextBoy , can you please let me know the steps that lead to this crash? I am trying to reproduce the same scenario in order to debug the real issue.

[2019-10-14 21:35] weeeBox commented on #189
@TheDoorNextBoy, did you get the crash log from the crash reporting tool or were you able to reproduce it locally? Do you have any other logs on top of the crash log?

[2019-10-15 11:20] TheDoorNextBoy commented on #189
Hi there, thanks for your fast response!
@twinklesharma1311 , @weeeBox I can't reproduce it locally, but it's our number 1 crash on Firebase Crashlytics. I will send you the account details to your support address. Maybe you can see more in your own logs.

[2019-10-15 22:22] CaseyApptentive commented on #189
@TheDoorNextBoy very sorry about the issue using support@apptentive.com -- I'm looking into it.

Can you email me directly at casey@apptentive.com?

[2019-10-16 17:14] weeeBox commented on #189
Hey @prashantbankar,

Could you share the contents of your `build.gradle` file and your app theme?

[2019-10-16 21:46] CaseyApptentive commented on #189
@TheDoorNextBoy  could you share the contents of your `build.gradle` file and your app theme as well?

Thanks!

[2019-10-17 06:26] prashantbankar commented on #189
@weeeBox

Theme.AppCompat.Light.NoActionBar

buildToolsVersion '28.0.0'
compileSdkVersion = 28
targetSdkVersion = 28
implementation 'com.android.support:appcompat-v7:28.0.0'
    implementation 'com.android.support:support-v4:28.0.0'
    implementation 'com.android.support:design:28.0.0'
    implementation 'com.android.support:recyclerview-v7:28.0.0'
    implementation 'com.android.support:cardview

[2019-10-17 11:50] gmbett opened #190 "Exception while loading conversation"
Hi, We are using the latest SDK for Android (version 5.4.6) and we just noticed that the whole integration seems to be broken. Events reported by our app are not being sent.

When checking the logs I can see the following exception:

[code]

And of course after that any event that we want to report fails, like:

[code]

This happens on a Samsung S7 (SM-G930F) with Android 8.0.0 but it seems it's h

[2019-10-17 13:24] weeeBox commented on #190
@gmbett, this could happen if the app crashed while Apptentive SDK was writing its data to the disk. We currently don't recover from this conditions and just lock the SDK.

[2019-10-17 13:26] weeeBox commented on #189
Thanks @prashantbankar,

Do you also have any reproduction steps?

[2019-10-17 13:33] gmbett commented on #190
@weeeBox Is there a plan to add a way to recover from this error?

[2019-10-17 13:53] prashantbankar commented on #189
@weeeBox
I am firing up the event

`Apptentive.engage(baseContext, event);`

then calling `startActivity()`

I tried the [troubleshoot](https://learn.apptentive.com/knowledge-base/troubleshooting-the-apptentive-android-sdk/#interaction-is-covered) but it didn't help

[2019-10-17 13:59] gmbett commented on #190
@weeeBox This issue also affects the iOS SDK... or is only related to Android?

[2019-10-17 14:23] weeeBox commented on #190
This is more Android specific

[2019-10-18 23:05] CaseyApptentive commented on #190
@gmbett Thanks for your patience! To be sure, could you try uninstalling + reinstalling your app on the test device? It should clear this issue up.

Let me know if you're having any further issues.

[2019-10-22 07:15] prashantbankar commented on #189
@weeeBox Any update on this?

[2019-10-22 17:28] weeeBox commented on #189
@prashantbankar, we're trying to reproduce the issue on our end. We have a fix ready but really want to figure out the underlying cause of the inflating exception.

[2019-10-22 18:02] weeeBox commented on #189
@prashantbankar, what Gradle plugin version do you use?

[2019-10-22 22:35] CaseyApptentive commented on #190
@gmbett circling back. Let me know if this freed you up.

Thanks again for the help troubleshooting.

[2019-10-23 06:45] gmbett commented on #190
Yes, uninstalling and reinstalling solves the issue.

[2019-10-23 08:30] prashantbankar commented on #189
@weeeBox Gradle Plugin version `3.0.1` and Gradle version `4.1`

[2019-10-23 12:16] #190 closed

[2019-10-23 21:32] CaseyApptentive commented on #189
Thanks, @prashantbankar ! We're digging into this.

[2019-10-24 22:00] CaseyApptentive commented on #189
@TheDoorNextBoy and @prashantbankar. We've released SDK version 5.4.7 with a fix for this crash. Can you update and let me know if you're still having any issues?

Thanks!

[2019-10-25 09:02] TheDoorNextBoy commented on #189
@CaseyApptentive Thanks for your fast response, But I am really disappointed about your "fix".
[code]

Just catching everything and finishing can not be a solution.
I'd rather have the App crash and know about it than having unexpected behaviour and bad reviews.
I understand that there is maybe not enough information at the moment to properly fix it. But if you would not use those generic catches

[2019-10-25 11:16] weeeBox commented on #189
@TheDoorNextBoy, we understand your frustration but cannot reproduce the bug on any configuration (Gradle Plugin/Wrapper version, legacy Android Studio, different app themes). We released a fix to prevent devices from crashing and continued investigating. There will be no unexpected behaviour: if the problem persists - the users won't be able to see Love Dialog.
It would be really helpful if you c

[2019-10-29 09:59] TheDoorNextBoy commented on #189
Hi @weeeBox,
Sorry for my late reply. I was a bit busy the last days.
We will release a new version with 5.4.7 in a few days as soon as QA approves.

Actually our theme could really be an issue.
Our parent theme is `Theme.MaterialComponents.Light.NoActionBar.Bridge` from
`implementation 'com.google.android.material:material:1.0.0'`
Maybe you could check it. If I find some time today I'll try anoth

[2019-10-29 14:27] weeeBox commented on #189
Hi @TheDoorNextBoy, we need to create an app with the very same dependencies, Gradle plugin/wrapper versions and styling as your app in order for being able to reproduce the issue. Would you be able to provide these?

[2019-12-05 13:27] bimalchawla commented on #187
Hi @CaseyApptentive @sicklepilot  , i checked this issue on latest 5.5.0 apptentive sdk on android version 9, this issue still occuring.

[2019-12-10 01:54] CaseyApptentive commented on #187
Hi @bimalchawla. Thanks for the report. Can you send us the contents of your build.gradle?

Also, is this your first time adding Apptentive to your app or are you migrating from an older SDK version?

Thanks!

[2019-12-10 01:57] sicklepilot commented on #187
Hi Casey, Bimal is with my organization and this is the same app.

[2019-12-20 20:00] samtipton commented on #188
Having the same problem as what @harisf3 reported on October 3rd. Any updates here? I'm on v5.5.0, androidx 1.0.0, targeting 28 building on Android 10

[2019-12-23 23:40] CaseyApptentive commented on #188
Hi @samtipton, sorry that you're seeing the same issue. I'll work with my Android engineers to get you a more complete answer.

Apologies if this takes longer than usual over the holidays.

Feel free to reach us at support@apptentive.com if you have any further questions, otherwise I'll follow up here when I know more.

[2019-12-27 21:50] anilkumar98 opened #194 "app Crash com.apptentive.android.sdk.ApptentiveViewActivity java.lang.IllegalStateException: Already attached"
Hi apptentive Team,

Do we have fix for below stack trace.
com.apptentive.android.sdk.ApptentiveViewActivity}: java.lang.IllegalStateException: Already attached
       at android.app.ActivityThread.performLaunchActivity + 2927(ActivityThread.java:2927)
       at android.app.ActivityThread.handleLaunchActivity + 2988(ActivityThread.java:2988)
       at android.app.ActivityThread.handleRelaunchActiv

[2019-12-27 21:55] CaseyApptentive commented on #194
Hi @anilkumar98 . Thanks for the report, and apologies that you're seeing an issue. I'll need a bit more information to know for certain.

Can you give a bit more context?

For example, what SDK version are you seeing this on? Are you upgrading from an older SDK, or is this the initial install?

Also are you seeing this crash in real customer devices, or only in a test environment?

Thanks!

[2019-12-27 21:57] anilkumar98 commented on #194
Thanks! it was so quick response..

com.apptentive:apptentive-android:5.4.5
Android SDK:28
Its in our pre prod phase currently

[2019-12-27 22:11] CaseyApptentive commented on #194
Thanks for the context. Are you using AndroidX 1.1 or more recent?

Also, are you able to able to consistently reproduce the crash?

I ask because, if you're using a recent version of AndroidX, we have seen a crash that happens every time an Apptentive Dialog is dismissed. This particular crash is very easy to repro. I can't quite tell from the stack trace you showed if that's this issue, but want

[2019-12-28 00:07] anilkumar98 commented on #194
implementation 'androidx.cardview:cardview:1.0.0'

    implementation 'androidx.vectordrawable:vectordrawable:1.1.0'
    implementation 'androidx.media:media:1.1.0'
    implementation 'androidx.legacy:legacy-support-v4:1.0.0'
    implementation 'androidx.constraintlayout:constraintlayout:2.0.0-beta3'
    implementation 'androidx.browser:browser:1.0.0'
    implementation 'androidx.appcompat:appcomp

[2019-12-30 06:45] bimalchawla commented on #187
Hi @CaseyApptentive any update on above issue.

[2020-01-02 07:31] avinash420448 opened #195 "Not able to get proper Love Dialog in android version Nougat ,Marshmellow and Oreo. Also How to get message center data and save the same to the backened."
Hey you love dialog and message center is not visible in Marhmellow, Nougout ,Oreo and pie. I am  using sdk version 5.5.0. It is working fine in Android Q. Please check and let me know why I am getting this issue. Also let me know How to save message center data in backend.

[2020-01-02 21:58] CaseyApptentive commented on #195
Hi @avinash420448 !

Happy to help. Can you help me better understand the issue you're seeing?

Are you building using AndroidX version 1.1 or more recent? I ask because you should only use SDK version 5.5.0 if you're using AndroidX 1.1. If you're not yet on Android X 1.1, please use SDK 5.4.7: https://github.com/apptentive/apptentive-android/releases/tag/v5.4.7

Also, can you tell me more about w

[2020-01-03 20:57] CaseyApptentive commented on #194
Hi @anilkumar98 !

Apologies for the delay. You can find version 5.5.0 here: https://github.com/apptentive/apptentive-android/releases/tag/v5.5.0

It does look like this crash is fixed in the latest version. The specific issue is with older SDKs and when you use androidx.appcompat:appcompat:1.1.0

Can you try building with 5.5.0 and let me know if you're continuing to see any issues?

[2020-01-03 23:04] sirivanleo opened #196 "LogicalOperator Parse errors flood our logs"
We have had this issue for months now. In the past while debugging an issue with the sdk I attached our logger to the ErrorMetrics Listener so we can see apptentive errors in our logging backend but we see many superfluous errors.

https://github.com/apptentive/apptentive-android/blob/a3e4b9f42c51fd64c6c85d1748b6cac975a8c55e/apptentive/src/main/java/com/apptentive/android/sdk/module/engagement/log

[2020-01-03 23:32] CaseyApptentive commented on #187
Hi @bimalchawla, very sorry for the delay. I have a ticket for my Android team and will let you know as soon as possible.

Is this preventing you from release?

[2020-01-03 23:41] CaseyApptentive commented on #196
Hi @sirivanleo!

Thanks for letting us know. This likely means that the manifest contains invalid values, and we'd like to take a deeper look.

Can you email me at support@apptentive.com and let me know the name of the specific app you're working on? Once we have that we can dive in.

[2020-01-06 13:02] bimalchawla commented on #187
Not really @CaseyApptentive. But we are waiting for library update to resolve this issue in our app. Thanks.

[2020-01-06 22:42] CaseyApptentive commented on #187
Thanks for your patience. I'll let you know as soon as our engineers have made progress.

Let me know if there's anything else I can do for you.

[2020-01-07 00:00] sirivanleo commented on #196
Done

[2020-01-07 00:16] CaseyApptentive commented on #196
Thank you. I saw your message and will coordinate with my colleague to get back to you asap.

[2020-01-07 12:03] bimalchawla commented on #187
Thanks for the update. Waiting for library update.

[2020-01-15 16:36] sicklepilot commented on #187
We found a workaround by adding the following line to our AppTentive theme override

[code]

[2020-01-15 16:36] #187 closed

[2020-01-16 01:41] CaseyApptentive commented on #187
Thank you for confirming @sicklepilot !

Let me know if there's anything further I can help with.

[2020-02-12 07:40] FazalHussain opened #197 "Love dialog is not showing for Rating Prompt"
I am trying to integrate Apptentive in my android app but love dialog is not showing whereas the event is getting tracked

[code]

What I am doing wrong?

[2020-02-12 19:20] CaseyApptentive commented on #197
Hey @FazalHussain!

Can you email me at support@apptentive.com with details about which app you're working on? I'd like to take a closer look at your Dashboard settings.

Also, can you share logs from a test in which you attempt to launch the Love Dialog?

Thanks.

[2020-03-06 16:52] simonsickle opened #198 "About Dialog does not allow setting theme properly for buttons"
https://github.com/apptentive/apptentive-android/blob/master/apptentive/src/main/res/layout/apptentive_about.xml#L75-L89

As a developer, I expect to be able to use the material components theme. When using this theme, however, the borderless buttons have a rounded tint to them. The text color is the same as the tint color, making the text impossible to read, as well.
![Screen Shot 2020-03-06 at 1

[2020-03-06 17:07] simonsickle opened #199 "Can not properly theme send button"
The send button can not be properly themed to whatever we want. https://github.com/apptentive/apptentive-android/blob/master/apptentive/src/main/res/layout/apptentive_survey.xml#L65

Only typeFace and TextSize are used here. https://github.com/apptentive/apptentive-android/blob/master/apptentive/src/main/res/values/styles.xml#L156

Text color can not be set as a part of this theme, so in my case i

[2020-03-11 00:15] CaseyApptentive commented on #199
Hi @sicklepilot! I apologize for the issue with theme. Happy to point you in the right direction. Are you using Material Design or AppCompat?

We've recently updated our docs for help with the two most common types of issues with Android. Apologies if you've seen this already, but I wanted to share just in case: https://learn.apptentive.com/knowledge-base/android-interface-customization/#troublesh

[2020-03-11 00:19] CaseyApptentive commented on #198
Hi @sicklepilot. Thanks for this report as well. It looks like you're seeing this when you hit the "(i)" info button within Message Center -- is that right?

Let me know if that's the only place you're seeing this because we may be able to actually help you remove that button altogether, if that frees you up.

[2020-03-11 01:52] sicklepilot commented on #198
That’s correct, removing that info button would solve our issue! All other text buttons are properly setting the style as expected (namely, the Satisfaction Dialog) if I override the buttons them in the override style. I did have to use a parent theme of MaterialComponent TextButton to get that functional, if anyone else is struggling with this.

[2020-03-11 01:56] sicklepilot commented on #199
Hi, we’re using Material Components for our base theme now (migration from AppCompat to support addition of FABs)

The issue here is with this one send button, as the text color is not able to be overridden. If we got another element added to that theme (android:textColor) and another attribute like the other fields, we could easily select the text color we want via overrides.

I cloned the librar

[2020-03-11 17:47] akjandroid opened #200 "[Android]E/Apptentive: [Apptentive Queue] [CONVERSATION] Unable to check message center availability: no active conversation"
Hi Apptentive Team,

We have started getting below error while launching apptentive in app. Also Suggestions, tab not clickable anymore.We have upgraded to 5.5 version as well but still same issue.
Please let me know if its known issue or any fix for same.

E/Apptentive: [Apptentive Queue] [CONVERSATION] Unable to check message center availability: no active conversation

Thanks!.

[2020-03-11 17:53] CaseyApptentive commented on #200
Hi @akjandroid ! Apologies for the issue.

Two things:
- Would you be able to uninstall + reinstall the app on your test device and let me know if that fixes it? This will give us next steps, but we've seen similar issues in the past and this has typically cleared them up.
- If you're still having problems, can you send me the full logs? We'd need to see from app launch to when you try to engage t

[2020-03-11 18:58] akjandroid commented on #200
Thanks! Casey.It seems working after uninstall and install.
How to resolve this, let say if get this issue in future and app in market and app upgrade will not help.

[2020-03-11 19:12] CaseyApptentive commented on #200
Thanks for checking. Great question. Let me discuss the best options with my team.

I'll follow up as soon as possible.

[2020-03-11 19:37] CaseyApptentive commented on #198
This is likely not the best long term solution, but it is possible to hide that "(i)" button. Would that free you up here?

To do this, you do not necessarily need to update to a specific version of the SDK. Rather, you'd need to override the theme res/values/themes-apptentive-override.xml. This will hide the (i) button in both Message Center and Surveys.

[code]

Let me know if that works for thi

[2020-03-11 19:39] CaseyApptentive commented on #199
Thanks, @sicklepilot . Let me discuss with my team. We'll be in touch as soon as possible.

[2020-03-12 18:38] akjandroid commented on #200
Hi Casey,
Pls let me know if you get any update.
Thanks,
Anil

[2020-03-16 22:09] CaseyApptentive commented on #200
Hi @akjandroid. Did your app happen to start using R8 in the build you're having trouble on? I ask because we've seen similar issues when migrating from ProGuard to R8.

Let me know if that's the case. Thanks!

[2020-03-18 00:20] akjandroid commented on #200
we are not using R8.We are on ProGuard.

Thanks

[2020-03-18 21:07] akjandroid commented on #200
Probably fix for R8 may resolve it.which SDK version its available, we are already on latest sdk 5.5

[2020-03-20 21:54] CaseyApptentive commented on #200
Hi @akjandroid, I apologize for the delay! Can you help me understand what you mean? Sorry. I don't quite follow.

5.5.0 is our most recent version of the SDK.

[2020-03-23 17:19] akjandroid commented on #200
Basically uninstall and install did not help(some time it works ..not always)..we still see this issue and we are on latest sdk 5.5.0

Thanks

[2020-03-23 22:00] CaseyApptentive commented on #200
Got it. Thanks for the details! Running this past my team.

[2020-03-23 22:08] CaseyApptentive commented on #200
@akjandroid would you be able to email me at support@apptentive.com with details on which app you're working on? I'd like to take a closer look.

For whatever reason, we believed that this was fixed in version 5.4.4 and we are not seeing this with any other customers.

Also, would you be able to send full logs from this?

If it's easier, I'd be happy to schedule a troubleshooting call as well.

Th

[2020-03-24 17:47] akjandroid commented on #200
Sure.Let me share the full logs on above.Do I need to enable anything specific because apptentive related logs is just 2-3 lines..

[2020-03-24 18:44] CaseyApptentive commented on #200
Thanks! @akjandroid, could you send logs from app launch until the app has fully loaded and is on a screen in which users should be able to "use the app". I know that's subjective -- but I'm basically looking for a full session. Even though the Apptentive portion is brief, I want to be sure it catches everything.

[2020-04-07 22:01] CaseyApptentive commented on #200
Hi @akjandroid, I wanted to circle back. Are you still having any issues? Let me know and I'm happy to help.

[2020-04-21 10:37] janjurek-avast opened #202 "Hardcoded buttons height make causes problems"
We are using your sdk in our app and since we are updating to support CATO (these are specific accessibility rules given to us from our customer) we change our buttons to be `minHeight` 48dp in theme. Since you have hardcode `layout_height` set to `36dp`, this will result in dialogs text being cut off.

Enjoy Dialog | Rate Dialog
-----------  | ---------
![dialog1](https://user-images.githubuserco

[2020-05-11 17:22] drivardST commented on #188
Any update on this issue @CaseyApptentive? I'm following up on old tickets in our project.

[2020-06-18 02:14] kitcheehong opened #206 "Crash in java.lang.RuntimeException: Canvas: trying to use a recycled bitmap android.graphics.Bitmap@19a6b1a"
When you fill in the feedback, select the pictures and send the feedback with pictures many times. If the same pictures are sent many times, then click to view the pictures. Often, the bitmap is recycled, resulting in exceptions

log:
java.lang.RuntimeException: Canvas: trying to use a recycled bitmap android.graphics.Bitmap@19a6b1a
.........
xxx.xxx.xxx/com.apptentive.android.sdk.ApptentiveViewAc

[2020-06-24 15:26] simonsickle commented on #199
@CaseyApptentive any updates here? Thanks!

[2020-06-24 23:31] CaseyApptentive commented on #206
Hi @kitcheehong! Thanks for reporting this issue. We'll keep this in mind for future SDK versions.

Let me know if you have any urgent issues that I can help with in the meantime.

Thanks again.

[2020-06-29 12:34] sivasharma opened #207 "Apptentive help on sendAttachmentFile()"
We are working on a use case where we send an attachment using the mentioned function

`sendAttachmentFile(final byte[] content, final String mimeType)`

 After calling this function we are able to see the attached file on the Apptentive dashboard in the conservation section. However, we are not able to confirm the file is sent successfully. So, is there any way we get confirmation after sending t

[2020-06-30 00:05] CaseyApptentive commented on #207
Hi @sivasharma ! Great question. Let me help track down an answer about the max file size for an attachment.

I'll follow up as soon as I know more.

[2020-07-07 16:03] kikin81 commented on #188
@CaseyApptentive please take a look at a related issue with hardcoded values for the buttons in the dialog here:

https://github.com/apptentive/apptentive-android/issues/202

In general it's bad practice to hardcode button heights, specially when they are not compliant with Google Accessibility minimum requirements of *48 dp* https://support.google.com/accessibility/android/answer/7101858?hl=en

[2020-07-07 23:07] CaseyApptentive commented on #188
Hi everyone. Apologies for the delay. We're working on migrating to material design components for future releases, including some other large improvements, for a forthcoming SDK. I've shared this issue with my product team.

Is this blocking a release? Let me know as it will help prioritize this on our roadmap.

[2020-08-06 04:45] #199 closed

[2020-08-06 04:46] simonsickle commented on #198
That workaround does the trick. Furthermore, setting our core theme as the parent of the apptentive override gets most of the functionality we wanted to feel like it is part of the app.

[2020-08-06 04:46] #198 closed

[2020-08-20 15:40] simonsickle opened #208 "Android 11 doesn't allow access to Network Type without dangerous permission"
Starting in Android SDK 30, ` TelephonyManager.getNetworkType()` is depreciated and replaced by `TelephonyManager.getDataNetworkType()`.

To use `getDataNetworkType()` the application must have either carrier permissions (as in, be a cell phone carrier such as AT&T or Verizon Wireless) or request `READ_PHONE_STATE` which is a dangerous permission requiring user approval.

This only applies to apps

[2020-08-20 16:25] CaseyApptentive commented on #208
Hi @simonsickle . Thanks for reaching out. This is on my engineering team's roadmap right now, and we're working on a solution. We've historically collected network type to make available as a targeting option for things like Surveys (e.g. show x Survey only to your customers that are on T-Mobile's network). We may have to change that moving forward.

Stay tuned and I'll update you as soon as we h

[2020-08-20 17:09] simonsickle commented on #208
I have a pull request ready, https://github.com/apptentive/apptentive-android/pull/209, which fixes Android 11 and allows apps requiring the network type to still request it from the user.

[2020-08-21 22:39] simonsickle opened #210 "VersionName causes the library to crash when using valid symver"
Hello, our team uses a simple symver to determine what our version, avoiding headaches of trying to figure out which build is being used. The format we use is `X.Y.Z-V` where X is the major, Y is the minor, Z is the patch, and V is the version code of the APK.

### Expected
As a consumer of this library, I should be able to use a valid symver for the version number without causing a crash. Further

[2020-08-24 17:19] CaseyApptentive commented on #210
Thanks for sharing this, @simonsickle . Your explanation makes sense and it's not uncommon to use custom version naming schemes with Apptentive, though we have not had reports of this causing issues.

A few questions to help us track this down:
- Which SDK version are you seeing this problem with?
- Have you been able to successfully use Apptentive with similar versioning schemes in the past? If s

[2020-08-24 17:37] simonsickle commented on #210
Currently, we see this in 5.5.3 but we have had to fork the library from master as we had a critical android 11 blocker (see the PR I created for this).

I believe this exact crash may be from the library version which didn't get set at first when we forked the library.

I'm not totally sure where this would be used as the upgrade dialogs appear to be based off of the versionCode instead.

[2020-09-08 19:43] #197 closed

[2020-09-09 14:05] weeeBox commented on #208
Fixed in 5.5.4

[2020-09-09 14:05] #208 closed

[2020-09-24 08:15] Grasshooper opened #213 "Alert on google console for one of my app"
Dears,

Background: we are using appetitive-cordova plugin in one of our mobile app.
https://github.com/apptentive/apptentive-cordova/#v5.0.0

recently we got an alert from google console saying : Your app is using a  content provider with unsafe implementation of openFile.

com.apptentive.android.sdk.debug.ApptentiveAttachmentFileProvider

Can you please let me know if is this something that can

[2020-09-24 18:02] CaseyApptentive commented on #213
Hi @Grasshooper ,

Thanks for reaching out. This is the first we've heard of this issue for some time. Here are some next steps to help:

1) Could you try using the latest Cordova SDK, v5.5.2: https://github.com/apptentive/apptentive-cordova/releases

2) If you're still having problems, could you share the full error details?

3) Can you let me know which app you're working on? I want to be sure w

[2020-09-25 09:23] haddaj commented on #210
We have the same issue when the version name contains characters, the Apptentive sdk crash

[2020-09-25 23:53] CaseyApptentive commented on #210
Hi @simonsickle  and @haddaj . I apologize for the issue. Would you mind reaching out to support@apptentive.com with your report? That will help us keep your CSM updated on the issue so they can see it through.

Thank you! We appreciate the reports.

[2020-10-10 01:07] RanjithRagavan opened #216 "In-App Review dialog| Unable to create in-app review manager | Class cast exception"
Android Apptentive SDK can be initialized only with the Application context and the same context is used in DefaultInAppReviewManagerFactory to cast to Activity context to pass to GooglePlayReviewManager that's leads to class cast exception.

at com.apptentive.android.sdk.external.DefaultInAppReviewManagerFactory.createReviewManager(DefaultInAppReviewManagerFactory.java:36)
        at com.apptenti

[2020-10-14 20:27] CaseyApptentive commented on #216
Hi @RanjithRagavan, thanks for the report.

We're unable to reproduce this issue. Can you tell us more?
- What SDK version are you testing on?
- Is this causing a crash? If so, is it happening at app launch or only when trying to engage the Google Play Rating Dialog.
- Can you send full crash logs (from app launch until the crash)?

One other thing you could try: create a blank app that contains A

[2020-10-14 22:18] weeeBox commented on #216
Hey @RanjithRagavan,

The context object should be passed as a part of Apptentive.engage method and must be an Activity in order for Google In-App review to work. Would you be able to share some implementation details?

[2020-10-15 19:34] RanjithRagavan commented on #216
@CaseyApptentive  the app is not crashing it shows the Apptentive Rating dialog instead of Google In-App Review. As you see the log I added in the first comment DefaultInAppReviewManagerFactory is handling the flow as if not able to show the Google In-App review it defaults to Apptentive Rating dialog.

@weeeBox So how its implemented in the project is Apptentive is initialized in
Application clas

[2020-10-15 19:45] weeeBox commented on #216
@RanjithRagavan, can you confirm that `activityContext` is an `Activity` type?

[2020-10-16 05:46] RanjithRagavan commented on #216
@weeeBox  yes the activityContext is of type Activity actually its fragment setting getActivity() context

[2020-10-16 10:44] BartlomiejSoryAutomatic commented on #216
In previous versions it was fine to pass the application context as `Apptentive.engage(context, "some event");`
In that case it would just launch Apptentive Interaction in a new task, exactly as the docs say.

It seems that it will no longer no longer be possible in the newer version ?

[2020-10-16 14:11] weeeBox commented on #216
@BartlomiejSoryAutomatic, Google's `ReviewManager` requires an `Activity` object to be passed to the `launchReviewFlow` method (see details [here](https://developer.android.com/reference/com/google/android/play/core/review/ReviewManager.html#launchReviewFlow(android.app.Activity,%20com.google.android.play.core.review.ReviewInfo))). We don't have an access to any of the activities from the host app

[2020-10-16 14:12] weeeBox commented on #216
@RanjithRagavan, let me take a look at this and I'll get back to you

[2020-10-16 22:47] weeeBox commented on #216
@RanjithRagavan, would you be able to put a breakpoint at `DefaultInAppReviewManagerFactory:36` and tell us what type the `context` variable has? You can open `DefaultInAppReviewManagerFactory` in Android Studio by pressing 'Cmd+Option+O` on Mac or `Alt+Shift+N` on Windows.

[2020-10-19 19:58] RanjithRagavan commented on #216
@weeeBox what's the difference between Love Dialog coupled Rating Dialog vs Standalone Rating dialog. Because for the Love Dialog coupled rating dialog I can see the Play-store rating dialog coming through.

But only for the Standalone rating dialog, I see the error log and it always shows Apptentive Rating dialog.
 I/Apptentive: [INTERACTIONS] Launching interaction: 'InAppRatingDialog'
 I/Apptent

[2020-10-19 20:32] weeeBox commented on #216
@RanjithRagavan, there should be no difference from the end-user point of view but it seems the Application context somehow sneaks in. Let me double-check that and I'll get back to you!

[2020-10-19 22:52] CaseyApptentive commented on #216
Hi @RanjithRagavan and @BartlomiejSoryAutomatic ! I've shared details with your Customer Success Managers and they will be reaching out shortly to help. We may need to gather more details, and they will help walk through that process.

Thanks again, and we'll be in touch shortly.

[2020-10-20 06:07] BartlomiejSoryAutomatic commented on #216
@weeeBox If the `Apptentive.engage()` requires the activity as a parameter, then it should no longer allow to pass in a Context parameter but an Activity instead

[2020-10-20 14:33] weeeBox commented on #216
@BartlomiejSoryAutomatic, this could be the case but we can't just introduce a breaking change since it would make all the existing clients non-compilable.

[2020-10-21 05:40] BartlomiejSoryAutomatic commented on #216
What is wrong with using `Application.ActivityLifecycleCallbacks` ? Keeping track of a currently created and resumed activity and using it for Google's `ReviewManager` seems like a reasonable approach for this situation

[2020-10-21 17:55] weeeBox commented on #216
@BartlomiejSoryAutomatic, we can't make any assumption on the host application structure. Imagine a situation when you have a "popup" activity and when you press a button - you will engage an interaction and finish the activity immediately. The lifecycle callback will capture the "popup" `Activity` and pass it into the SDK's engage method then make and an async call to Google API and try to use th

[2020-10-22 12:28] BartlomiejSoryAutomatic commented on #216
I see your point, thanks for clarifying.
However isn' t this scenario also possible when passing an activity as `engage` method parameter ? Here, that activity can also be closed right away after triggering an interaction (for example user clicks Back button) which could result in the same situation IMHO.

[2020-10-22 14:09] weeeBox commented on #216
@BartlomiejSoryAutomatic, it's possible but in the latter case, you have more control over the execution flow and may postpone finishing an Activity until after the engagement callback is fired.

[2020-10-23 18:58] CaseyApptentive commented on #213
@Grasshooper following up. Let me know if you're still having any trouble.

[2020-10-23 18:58] #213 closed

[2020-10-27 06:30] BartlomiejSoryAutomatic commented on #216
On the other hand isn't the google in-app review api aware of such possibility and does not check if the caller activity hasn't finished/was destroyed before showing the dialog ?

[2020-10-27 19:06] weeeBox commented on #216
Can't tell for sure: haven't checked their source code yet but in terms of results - pretty much the same: the request will fail and the fallback mechanism would kick in.

[2020-10-27 23:08] RanjithRagavan commented on #216
@weeeBox its the context issue in my application instead of activity context application context is passed. Closing the issue.

[2020-10-27 23:08] #216 closed

[2020-11-12 09:16] gmbett opened #217 "New in app rate dialog is not being displayed"
Hello,

In our company we are trying to use the latest version of your SDK (version 5.6.0) which in theory brings support for Google Play In-App Review but I'm seeing an error in Logcat when the new rate dialog should be displayed:

[code]

It seems that you are trying to cast the context provided to the SDK (when is initialized) to Activity?

[2020-11-12 17:33] CaseyApptentive commented on #217
Hi @gmbett,

Great question. You are understanding this correctly. Apptentive controls who can see the Google Play Rating Dialog, where it is displayed, and how often we try to show it -- but Google's API requires that the Where Event used to launch it have an Activity Context.

Here's a bit more depth in our docs: https://learn.apptentive.com/knowledge-base/requesting-ratings-on-google-play/#appt

[2020-11-13 07:59] gmbett commented on #217
Hi @CaseyApptentive, thanks for the explanation!

I will adjust our implementation.
Cheers,
Germán

[2020-11-13 18:50] CaseyApptentive commented on #217
Thanks for doing that. The new Google Play Rating Dialog works very well. I know it can take some legwork to make adjustments for it, but doing so is great.

[2020-11-16 16:22] gmbett commented on #217
@CaseyApptentive I updated our implementation but still the rate dialog is not showing up, now I can see in the logs the following error:

[code]

[2020-11-18 19:17] CaseyApptentive commented on #217
Great question @gmbett.

So, you've hit a (really fun) expected behavior. Unfortunately, Google Play has given us a very helpful new tool with this Dialog, but there are several hoops to jump through to use it -- hoops that especially impact testing. Thanks for the logs. This is the key section:

[code]

This error means that Apptentive attempted to display the Google Play Rating Dialog, but that

[2020-11-19 09:03] gmbett commented on #217
Hi @CaseyApptentive  thanks again for your detailed response.

[2020-11-19 16:47] CaseyApptentive commented on #217
No problem. Let us know if you need anything else.

[2020-11-19 16:47] #217 closed

[2021-01-05 01:56] arsonblock opened #219 "Unread message count listener not working"
On Android, the unread message count is not being returned with the listener in place. Is there still an issue with this functionality in the Android SDK?

Below is the code snippet used in my MainActivity.

[code]

[2021-01-05 20:17] #219 closed

[2021-01-05 20:33] CaseyApptentive commented on #219
Hi @arsonblock. I wanted to check in. Are you still experiencing issues with the message count listener?

[2021-01-05 20:36] arsonblock commented on #219
Hello @CaseyApptentive, looks like the issue has been resolved, we are receiving the message count, however it is sometimes delayed which lead me to believe it wasn't working. Is this a known issue?

[2021-01-06 00:29] CaseyApptentive commented on #219
Thanks for confirming, though sorry it wasn't working quite as expected. Did it take a few minutes to appear?

I'd have to dig to figure out the exact mechanism for when the listener would work. If I recall, it should run at specific points, or at least every few minutes. Which can make testing a bit more difficult, but has minimal impact on customers in the wild and reduces traffic.

Let me know.

[2021-01-06 08:18] arsonblock commented on #219
@CaseyApptentive yes it would take a few minutes to trigger, if that the intended behavior, we can live with that.

In some instances it wouldn’t trigger the listener until I entered the message center again, then the unread message count would be received, strange behavior in that case for sure and concerned me the most.

[2021-01-06 23:10] CaseyApptentive commented on #219
Yes, I believe this is correct. Don't hold me to the exact numbers, but I believe the intervals to check are roughly 5 or so minutes when the app is backgrounded, but we check every time Message Center is launched.

Let me know if you need anything else. Thanks!

[2021-02-12 06:20] suraj-raj-pi commented on #210
We ran into the same issue. Our app version names are configured based on the product flavour like "1.1.0", "1.1.0-staging", etc.

Currently seeing this issue with v5.6.1
This was working fine while using previous version of the SDK with similar versioning schemes. Not sure from which version of the SDK this was noticed.

[2021-02-17 16:00] HarryAWoodworth commented on #210
Hi @suraj-raj-pi, thank you for reporting this issue. Can you reach out to [support@apptentive.com ](mailto:support@apptentive.com) with more details of when the crash occurs, and logs if possible? Also, what version names have you seen this crash occur with so far?

[2021-02-23 21:47] dan-ahlquist opened #221 "'Files and Media' permission appears in app settings"
This issue affects Apptentive Android SDK versions 5.5.3 and 5.6.2, and possibly others. It affects apps targeting API 30.

When I upgraded my app to target API 30, I noticed a new permission in the app settings page: 'File and Media'. I believe the difference is related to [Storage updates in Android 11](https://developer.android.com/about/versions/11/privacy/storage).

Upon further investigation

[2021-02-25 15:12] aielcbmDev opened #222 "No Rating dialog pops up after tapping yes on Love Dialog"
Hi there,

The Rating Dialog does not appear after clicking yes on the Love Dialog on the following Apptentive SDK versions:
- 5.6.0
- 5.6.1
- 5.6.2

The latest version that displays the Rating Dialog after clicking yes the Love Dialog is 5.5.4.

The Love Dialog is configured as described here:
<img width="615" alt="ApptentiveLoveDialogHowOften" src="https://user-images.githubusercontent.com/30575

[2021-03-01 23:37] CaseyApptentive commented on #210
We've continued to dig into this issue. We're unable to repro it, though we have an idea of what may be the root cause.

Is this issue impacting any apps in production right now, or is it only impacting dev builds? If this is impacting prod builds, can you reach out to support@apptentive.com with details on which app you're working on, that way we can help remediate it as soon as possible?

Thanks

[2021-03-01 23:57] CaseyApptentive commented on #222
Hi @aielcbmDev. Thanks for the thorough report.

Starting in SDK 5.6.0, we added support for the new "Google Play Rating Dialog". This is an in-app rating prompt -- and it works really well. The downside with this new tool is that test it can be more difficult.

To be clear: Apptentive controls when this dialog is attempted to be shown, who it's shown to, and where it's surfaced. But Google has th

[2021-03-02 00:08] CaseyApptentive commented on #221
Hi @dan-ahlquist. Thanks for the thorough report. We appreciate it.

We have not heard of this issue before. We'll look into it.

For the sake of being sure you're freed up: did your workaround work? Let me know if you're blocked in any way.

[2021-03-02 01:00] dan-ahlquist commented on #221
Yes, this workaround works.

Thanks, Casey.

[2021-03-02 05:41] suraj-raj-pi commented on #210
Hi,

Our production builds versionName follows the format -  “8.0.0” , “10.1.0”, etc. so there is no impact there. It is with our dev builds and internal test builds which follows the format – “8.0.0 –local-build”, “10.1.0 -staging”, etc. that is currently impacted.

More info on how to reproduce :

  1.  Set the versionName of the app in build.gradle as below –

android {
  ...
  defaultConfig {

[2021-03-02 19:10] aielcbmDev commented on #222
Hi @CaseyApptentive, thank you for your fast reply!

[2021-03-02 19:10] #222 closed

[2021-03-02 19:12] CaseyApptentive commented on #222
No problem. Let me know if you need anything else.

[2021-03-02 19:32] CaseyApptentive commented on #221
Thanks again, Dan. Really appreciate it.

We've taken a preliminary look into this. Unfortunately, we're unable to reproduce it and we have not heard other reports of it for whatever reason, even though many apps with Apptentive are using API 30 and those SDK versions.

We'll do our diligence and keep this in mind for future releases. Let me know if you need anything else to free you up.

[2021-03-24 16:02] cweggler opened #223 "Event 'com.apptentive#app#launch' for a version is not 0 on fresh install"
Hello Apptentive Team,

We have a Love Dialog in our app that is set to show once to a user after 5 launches of the app if the `person_data` `user_30_days` is true, and the invokes for event `com.apptentive#EnjoymentDialog#launch` is  0. However in our latest release, our quality analyst noticed that the Love dialog actually displayed on the first launch of the fresh install of our latest release.

[2021-03-25 22:33] CaseyApptentive commented on #223
Hi @cweggler. Thanks for the thorough report. There don't appear to be any known issues related to this.

Typically uninstalling + reinstalling should reset all counts, as you and your team did. Is this issue easy for you to reproduce?

If so and it wouldn't be too much of an ask, one other thing you could try is clearing the app cache. To do this, have the app installed on your test device and ha

[2021-03-26 05:48] Deepa-3010 opened #224 "Apptentive dashboard remains unchanged when App is moved background and events are triggered"
Hi Apptentive Team,

Our problem statement is that we want to trigger an Apptentive event when the app is in the background. We observe that though the event gets triggered while the count of the Event on the Apptentive dashboard remains unchanged even after a considerable time gap.

The count of the event on the Apptentive dashboard changes only when the App is moved to the foreground.

Does the

[2021-03-26 23:04] CaseyApptentive commented on #224
Hi @Deepa-3010 ! Great question.

Our SDK is really designed for Events to be engaged while the app is in the foreground, though it may be possible to make them fire while the app is opened but in the background.

What your seeing seems to be expected behavior based on the design.

We designed it this way because Events firing in the background can inadvertently lead to attempting to present dialo

[2021-03-26 23:04] #224 closed

[2021-04-07 14:00] #223 closed

[2021-04-07 17:51] CaseyApptentive commented on #223
Perfect. Thanks for confirming.

[2021-07-23 17:40] marenovakovic opened #226 "[INTERACTIONS] Criteria evaluated => false for not English Locale"
Our app supports `en` and `es` locale. `LoveDialog` is shown when criteria set on the dashboard is met **ONLY** for `en` locale.
For `es` locale `[INTERACTIONS] Criteria evaluated => false` is always false.
I meet the criteria with `es` locale and nothing happens than I change to `en` locale and on first event `LoveDialog` shows and `[INTERACTIONS] Criteria evaluated => true` appears in log.
Versi

[2021-07-23 17:47] CaseyApptentive commented on #226
Hi @marenovakovic. Great question. We do support translations, so happy to look into this for you.

This may be related to a setting in your Apptentive Dashboard. Can you send me the Apptentive app ID that you're using to test? It can be found in the URL from your Apptentive Dashboard. In the example URL below, 5e8f7c640f4166143f000079 is the app ID

https://be.apptentive.com/apps/5e8f7c640f416614

[2021-07-26 17:03] marenovakovic commented on #226
@CaseyApptentive Thank you for quick response! We may have some internal problem and I will update the issue shortly.

[2021-07-26 17:57] marenovakovic commented on #226
@CaseyApptentive No I don't think that we do have internal issue. We have simple criteria for testing love dialog, 3 launches and one other action.
When criteria is met in Spanish Apptentive stops sending events all altogether until I change language to English and relaunch the app. I will post verbose logs here.

[2021-07-28 00:01] CaseyApptentive commented on #226
Thanks, @marenovakovic. I'll await those verbose logs. They will tell us exactly where the evaluation is failing.

Between tests, can you be sure to follow these steps to ensure it's a totally clean test? Sorry for the extra steps but it really does ensure that everything is working as expected.

Long tap app icon > App Info > Force Stop > OK > Storage & Cache > Clear Storage > OK > set your devic

[2021-07-28 16:31] marenovakovic commented on #226
@CaseyApptentive Am already running clean builds every time. After dialog shows for the first time I delete the app and install it again for new testing. I will post verbose logs.

[2021-07-28 22:23] #210 closed

[2021-07-29 12:39] marenovakovic commented on #226
Sometimes dialog shows, sometimes it doesn't. But when it does show it's in a wrong language.
What I've found out in logs:
1. criteria is being evaluated correctly, in cases it shows.
2. when it doesn't show however I see this:
[code]
Does this tell you anything at all? @CaseyApptentive

[2021-07-29 17:38] marenovakovic commented on #226
[code]
This is after 5 launches and 3 actions that are supposed to trigger love dialog.

[2021-08-03 00:41] CaseyApptentive commented on #226
Thank you. This is very helpful. Like you said, I believe you are actually seeing two separate issues -- so let's work through one at a time. The good news is that neither is that crazy!

Would you be open to scheduling a dev call to work through these? It could be easier to resolve on the phone.

If so, please reach out to support@apptentive.com and we'll get one scheduled as soon as possible. Do

[2021-11-16 18:22] hydejiaqi opened #230 "Survey does not show with SDK 5.7.1"
Hi, we want to upgrade the SDK to 5.7.1, but I find out the survey never shows with latest SDK, and once I switch back to SDK 5.6.4, the survey just works as expected.

`I/Apptentive: Registering Apptentive Android SDK 5.7.1`
`I/Apptentive: [Apptentive Queue] [CONVERSATION] Loading 'anonymous' conversation...`
`I/Apptentive: [Apptentive Queue] [INTERACTIONS] Engage event: 'com.apptentive#app#launc

[2021-11-16 22:23] CaseyApptentive commented on #230
Hi @hydejiaqi. Sorry that you're having trouble.

It looks like the criteria for the interactions aren't being met. That's what we're seeing in the logs after each "engage event" is being evaluated. Here's an example of the key section.

I/Apptentive: [Apptentive Queue] [INTERACTIONS] Engage event: 'local#app#saved_home'
I/Apptentive: [Apptentive Queue] [INTERACTIONS] Criteria evaluated => false

[2021-11-17 00:46] hydejiaqi commented on #230
@CaseyApptentive, thanks for your quick reply.

 I am using the same survey settings for both 5.7.1 and 5.6.4 SDK, but the criteria evaluated always returns false while using SDK 5.7.1. The only change I do is just change the SDK version to 5.7.1.

I pull the verbose logs, looks like the random survey id we set in the custom device data is always null in the log, and we use that value in the surve

[2021-11-17 01:06] CaseyApptentive commented on #230
Thanks for the thorough logs! Looking into this now.

It does look like the null with ApptentiveRandomSurveyKey is the problem, though it's hard to say why.

One question: are you planning on using this type of targeting in production? If so, can you help me understand what it does?

We can certainly try to straighten this out for you, but I am asking because it sounds like you might be randomly g

[2021-11-17 01:25] hydejiaqi commented on #230
Yeah, we are currently using this type of targeting in production. I will be glade to see if there is an alternative way to do so.

[2021-11-17 01:59] kite247 opened #231 "Crash with some older versions of com.google.android.play:core dependency"
Hi,

is anyone else running into crash issues when not using the latest play:core library?
The crash happens when the user clicks "Yes" on the love dialog.

Here is the stack trace:

[code]

Here are some build.gradle configurations that I tested:

build.gradle (will crash after pressing 'yes' on love dialog popup):

[code]

build.gradle (no crash):

[code]

I'm assuming Apptentive SDK 5.7.1 requi

[2021-11-17 19:28] CaseyApptentive commented on #230
No problem. This feature is available on iOS SDK version 5.3.4. and Android version 5.7.0. You can access this new feature in the "Who" targeting section for any interaction type.

On the dropdown, select "Random Sampling: Percent of Customers", like this
<img width="1001" alt="Screen Shot 2021-11-17 at 11 25 23 AM" src="https://user-images.githubusercontent.com/29615280/142269079-d845d4a8-4a7e-43

[2021-11-17 20:19] CaseyApptentive commented on #231
Hi @kite247. So sorry that you're seeing a crash! This is the first report of it that we've heard.

We'll dig in but may reach out with more questions.

[2021-11-17 21:17] ChaseApptentive commented on #231
Hi @kite247!

The issue here is around the Rating interaction. It looks like you have that coupled to show when the user selects 'yes' in their Love Dialog Interaction.

When we try to trigger the In-App Review, Google attempts to find their `ReviewManagerFactory`, and in order for that to occur, they require at least [version 1.8.0 of the Play Core library](https://developer.android.com/reference

[2021-11-17 21:17] #231 closed

[2021-11-18 00:52] kite247 commented on #231
Hi Chase,

thanks for the quick response and for updating the documentation to make it clear which play core version is required.

For future Apptentive SDK version updates that require updates on any dependency libraries, it would be super helpful to add this information to the release notes.

This way developers can make sure that they also update the dependency libraries to the required version

[2021-11-18 15:03] ChaseApptentive commented on #231
@kite247

We will do that from now on 😄

Thank you.

[2021-12-23 20:22] rid-hrant opened #233 "Android 12 non-SDK restrictions reflection is unsupported"
After analyzing my app with the veridex tool, I found that there are two use cases for the reflection API in the Apptentive Android SDK.
[code]
The reason for this log is reflection field API usage getDeclaredField and it could break the app on Android 12. Here you can see the code snippet from Apptentive Android SDK.

### com.apptentive.android.sdk.util.Util#replaceDefaultFont
[code]

The functio

[2021-12-30 22:42] CaseyApptentive commented on #233
Hi @rid-hrant,

Thanks for reaching out about this. I'll take a closer look at this with my engineering team.

This is the first report we've heard with this issue, though many of our customers are using our latest Android SDK (5.7.1) and have customers on Android 12. Is this causing any issues for your app in production, development, or both? Any other details you could give would be helpful.

Th

[2022-01-07 20:38] rid-hrant commented on #233
Hi @CaseyApptentive, I am currently working on researching Android 12 changes to target our application. I'm not using `replaceDefaultFont(Context context, String fontFilePath)` method in my application but for users who will use this method, I think there is possibility of an issue as there are new reflection restrictions starting from Android 12.

[2022-01-07 22:56] CaseyApptentive commented on #233
Thanks for the follow up, @rid-hrant. Let me discuss this with my team and get back to you.

Stay tuned!

[2022-01-14 16:14] HarryAWoodworth commented on #233
Hi @rid-hrant ! I have spoken with our engineering team and we have assessed the issue that you brought up. The `replaceDefaultClient` function uses the `getDeclaredField` method that utilizes reflection. The function was written to test the system default font overriding functionality and could be extended to SDK users so it was left public. It is safe to be removed in our next release.

Our engi

[2022-01-18 10:59] rid-hrant commented on #233
Hey, @HarryAWoodworth thx for your response, and thx for testing it on android 12. I suppose in your message you mean `replaceDefaultFont`, not `replaceDefaultClient`, am I right?

[2022-01-19 00:09] elliottj-accolade opened #235 "Cannot figure out how to configure Apptentive "About" dialog buttons."
Apptentive v. 5.8
Android 12, Pixel 5

- [x] I have reviewed the documentation for how to configure Apptentive's UI [here](https://learn.apptentive.com/knowledge-base/android-interface-customization/#overriding-our-styles).

Hello,

We have an issue where the Apptentive buttons on the [apptentive_about](https://github.com/apptentive/apptentive-android/blob/master/apptentive/src/main/res/layout/app

[2022-01-19 01:18] CaseyApptentive commented on #235
Hi @elliottj-accolade. Great question. Sometimes that section does have trouble with more complex styles, especially in dark mod.

My immediate thought is that you may want to simply remove the (i) info button. Would that fit your needs? Details on how to do that:
___________

You'd need to override the theme res/values/themes-apptentive-override.xml. This will hide the (i) button in both Message

[2022-01-21 16:29] HarryAWoodworth commented on #233
@rid-hrant Yes, my apologies, I did mean `replaceDefaultFont`! Thank you for catching that

[2022-01-24 16:58] elliottj-accolade commented on #235
Hi @CaseyApptentive, that works for us. Thank you for the suggestion!

[2022-01-24 16:58] #235 closed

[2022-01-24 17:26] CaseyApptentive commented on #235
Happy to help. Let me know if you need anything else.

[2022-04-25 12:17] allam-cshekar opened #237 "Not able to click links in message center's incoming messages body"
Links in incoming message body in message center are not clickable, looks like `android:autoLink="all"` attribute on message_body TextView in `apptentive_message_incoming.xml ` is not working .

[code]

Posible solution would be to add `messageBodyView.setMovementMethod(LinkMovementMethod.getInstance());` in IncomingCompoundMessageHolder.

Please let me know if there is any other easy solution for

[2022-04-25 17:21] HarryAWoodworth commented on #237
Hello @allam-cshekar , thank you for bringing this issue to our attention. What version of the Apptentive SDK are you using?

[2022-04-25 17:34] allam-cshekar commented on #237
Hello @HarryAWoodworth , thanks for the reply I am using **apptentive-android 5.8.3** version .

[2022-04-25 19:59] HarryAWoodworth commented on #237
I am not able to reproduce this issue in my tests, would you be able to send screenshots of the issue you are facing? And if able to, the link(s) you are testing? Thank you

[2022-04-26 03:43] allam-cshekar commented on #237
Basically, it has to do with the way we define string resource in incoming message. Raw links are working but linked links are not formatted and not clickable

This does not work:

<a href="http://www.google.com">Google</a>

But this does:

www.google.com

I guess this similar to this [issue](https://stackoverflow.com/questions/2734270/how-to-make-links-in-a-textview-clickable).
Here is the [scree

[2022-05-02 21:39] HarryAWoodworth commented on #237
I apologize for the delay in my response. When you are sending the linked link in Message Center, how is it input? Is it formatted through your Zendesk integration?

[2022-05-11 14:52] allam-cshekar commented on #237
Hi @HarryAWoodworth , sorry for delay in my response. I am creating and sending linked link in Message Center as show in the video below. Let me know if you have any question. Thanks

https://user-images.githubusercontent.com/98413939/167879636-70e40cbf-3f33-4932-821f-3261dacaa481.mov

[2022-06-22 21:37] davros1970 opened #238 "Buttons in apptentive_about.xml being clipped"
Hi, the fixed button heights in apptentive_about.xml are getting clipped. Please fix.

[code]

![image](https://user-images.githubusercontent.com/17870359/175142908-e7c8d925-5978-46fc-9e5d-5743333fb32b.png)

[2022-06-22 23:51] CaseyApptentive commented on #238
Thanks for reaching out @davros1970. We'll take a look and follow up with you as soon as possible.

[2022-06-23 00:09] davros1970 commented on #202
Upvoting this one. Seeing same with 5.8.3 version

[2022-06-23 00:10] davros1970 commented on #238
I'm sure this would be a duplicate of https://github.com/apptentive/apptentive-android/issues/202 as I'm seeing same clipping on those dialogs too.

[2022-06-23 00:13] CaseyApptentive commented on #202
Thanks for the reports! Looking into this now.

[2022-06-23 22:52] CaseyApptentive commented on #202
Thanks again for the reports, and apologies for the issue. I spoke with my devs and hardcoded button sizes aren't supported on our legacy SDK.

We do have a new Android SDK that's currently in beta, which offers many more options for customizing the look and feel of Apptentive Interactions. Would you be open to trying that?

You can find the latest version, 6.0.2, [here](https://github.com/apptent

[2022-06-23 22:53] CaseyApptentive commented on #238
Closing this Issue in favor of #202.

[2022-06-23 22:53] #238 closed, assigned to nobody

[2022-10-21 13:30] MarioBoehmer opened #240 "Translation issue for Message Center"
Hey Team, we are encountering language switch issues in our app using Message Center. When we switch the systems language in the Android language settings to one of our supported translation languages and restart the app, the Message Center is still displayed in the previous language (probably due to a config cache). When we clear the storage of the app, the correct language is displayed.

The exp

[2022-11-15 20:46] #159 closed